<app-nav></app-nav>
<div class="outer centriranje" style="margin-top: 50px;">
    <div class="container">
        <h3 class="align-center">Add New Device</h3>
        <div class="forma">
            <div class="row align-center">
                <div class="col-sm"><button type="button" (click)="showConsumer=true; showProducer=false; showStorage=false">Consumer</button></div>
                <div class="col-sm"><button type="button" (click)="showConsumer=false; showProducer=true; showStorage=false">Producer</button></div>
                <div class="col-sm"><button type="button" (click)="showConsumer=false; showProducer=false; showStorage=true">Storage</button></div>
            </div>
            <div *ngIf="showConsumer">
                <form [formGroup]="addConsumerForm" (ngSubmit)="onSubmit()">
                <app-add-consumer></app-add-consumer>
                </form>
            </div>
            <div *ngIf="showProducer">
                <form [formGroup]="addProducerForm" (ngSubmit)="onSubmit()">
                    <app-add-producer></app-add-producer>
                </form>    
            </div>
            <div *ngIf="showStorage">
                <form [formGroup]="addStorageForm" (ngSubmit)="onSubmit()">
                    <app-add-storage></app-add-storage>
                </form>
            </div>
        </div>
        <button type="submit" class="btn btn-primary font-weight-bold btn-lock mt-4 mt-2">ADD</button>
    </div>
</div>
