.container{
    background-color: white;
    border-radius: 15px;
    
    margin-top: 10px;
    /* box-shadow: 5px 3px 13px 3px rgba(0,0,0,0.35);
-webkit-box-shadow: 5px 3px 13px 3px rgba(0,0,0,0.35);
-moz-box-shadow: 5px 3px 13px 3px rgba(0,0,0,0.35); */
}
input{
    border-radius: 8px;
}
.form-group{
    margin-left: 10px;
}
h2{
    color: #026670;
}
button{
    margin-top: 10px;
    background-color: #026670;
}
