<div class="container">
    <div class="row">
      <div class="col-md-5" style="margin-top: 15px; padding-top: 30px; padding-left: 30px; padding-bottom: 0; padding-right: 0;">
        <h2 class="text-center" >Search for Weather:</h2>
        <form
          [formGroup]="weatherSearchForm"
           
        >
        <!-- (ngSubmit)="sendToAPIXU(weatherSearchForm.value)" -->
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              id="weatherLocation"
              aria-describedby="weatherLocation"
              placeholder="Please input a Location"
              formControlName="location"
            />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-md">
              Search weather
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6" style="margin-left: 60px; padding: 0;">
        <h2 class="text-center" style="margin-top: 15px;margin-bottom: 10px;">Weather Details:</h2>
        <p class="text-left">
            <img src="../../../assets/icons/weather-icons/icons8-place-marker-48.png" width="20px">Location Searched: {{ this.weatherData?.location.name }}, {{
          this.weatherData?.location.country }}.
        </p>
        <p class="text-left">
          <img src="../../../assets/icons/weather-icons/snowy(1).png" width="20px"> Temperature: {{ this.weatherData?.current.temp_c }}
        </p>
        <p class="text-left">
            <img src="../../../assets/icons/weather-icons/umbrella.png" width="20px"> Maximal Temperature: {{ this.weatherData?.temp_max}}
          </p>
          <p class="text-left">
            <img src="../../../assets/icons/weather-icons/snowflake.png" width="20px">Minimal Temperature: {{ this.weatherData?.temp_min}}
          </p>
          <p class="text-left">
            <img src="../../../assets/icons/weather-icons/sunshine.png" width="20px">Humidity: {{ this.weatherData?.humidity}}
          </p>
        
      </div>
    </div>
  </div>
  
  