

<header class="fixed-class">
			<img src="../../../assets/icons/white no-background.png" height="28px">
</header>



<div>
	<nav class="mobile-bottom-nav">
		<div class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
			<div class="mobile-bottom-nav__item-content">
				<i class="fa fa-tachometer fa-2x" routerLink="/dashboard"></i>
			</div>		
		</div>
		<div class="mobile-bottom-nav__item">		
			<div class="mobile-bottom-nav__item-content">
				<i class="fa fa-desktop fa-2x" routerLink="/add-device"></i>
				
			</div>
		</div>
		<div class="mobile-bottom-nav__item">
			<div class="mobile-bottom-nav__item-content">
				<i class="fa fa-home fa-2x" routerLink="/home"></i>
			</div>		
		</div>
		
		<div class="mobile-bottom-nav__item">
			<div class="mobile-bottom-nav__item-content">
				<i class="fa fa-cog fa-2x" routerLink="/settings"></i>
				
			</div>		
		</div>
	
		<div class="mobile-bottom-nav__item">
			<div class="mobile-bottom-nav__item-content">
				<i class="fa fa-user fa-2x" routerLink="/profile-prosumer"></i>
			</div>		
		</div>
	</nav> 
</div>