<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col">
            <!-- /api/User/users/{id} -->
        </div>
    </div>
    <div class="row">
        <h1>User informations of power usage</h1>
        <div class="col">
            <!-- /api/PowerUsage/power-usage/currentUsageUser/summary/{userID} -->
        </div>
        <div class="col">
            <!-- /api/PowerUsage/power-usage/PreviousMonth/average-user-usage/{userID} -->
        </div>

        <div class="col">
            <!-- /api/PowerUsage/power-usage/PreviousMonth/user-every-day-device-usage/{userID} -->
        </div>

        <div class="col">
            <!-- /api/PowerUsage/power-usage/nextMonth/user-every-day-device-usage/{userID} -->
        </div>
    </div>
    <div class="row">
        <h1>Users Device informations</h1>
        <div class="col">
            <!-- /api/Device/devices/{userID} -->
        </div>
        <div class="col">
            <!-- /api/Device/devices/info/user/{id} -->
        </div>
        <div class="col">
            <!-- /api/PowerUsage/power-usage/7daysHistory/{deviceID} -->
        </div>
        <div class="col">
            <!-- /api/PowerUsage/power-usage/7daysFuture/{deviceID} -->
        </div>
        <div class="col">
            <!-- /api/PowerUsage/power-usage/current/{deviceID} -->
        </div>
        <div class="col">
            <!-- /api/PowerUsage/power-usage/Previous24h/device-usage_per_hour/{deviceID} -->
        </div>
        <div class="col">
            <!-- /api/PowerUsage/power-usage/Next24h/device-usage_per_hour/{deviceID} -->
        </div>
    </div>
</div>