.card {
    width: 100%;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 20px;
}

.card table thead{
  background-color: #026670;
  color: white;
}
.card table thead th{
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #026670;

}

.card table tr td{
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #026670;

}

#map{
  margin-top: 120px;
  margin-left: 20px;
}
.fa{
  padding: 10px;
  color: #026670;
  
}

.input-div{
  margin-top: 30px;
  margin-left: 25px;
  display: flex;
  justify-content: baseline;
}

input{
  width: 240px;
  margin-left: 0px;
  margin-right: 10px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #026670;
}
button{
  margin-left: 10px;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #026670;
  color: white;
  border-radius: 8px;
  font-size: medium;
  font-weight: 500;
  letter-spacing: 1px;


}
label{
  display: ruby;
  text-align: start;
  padding-right: 10px;
  padding-top: 5px;
}

.p-paginator{
  display: block ruby;
}
app-profile{
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10000;

}
.text_below{
  position: absolute;
  left: 80px;
  top: 370px;

}
.chart{
  display: flex;
  text-align: center;
  justify-content: center;
}