<app-nav></app-nav>
<div class="row" style="margin-top: 100px;">
  <div class="col-lg-7">
    <div class="input-div">
        <label>Search by first name:</label>
        <input type="text" [(ngModel)]="_searchByName" placeholder="John Cena">
        <label>Search by address:</label>
        <input type="text" [(ngModel)]="_searchByAddress" placeholder="Addres NN">
        <button tableExport >Export data</button>
        
    </div>
      <div class="card">
          <table tableexporter >
              <thead>
                <tr>
                  <th>
                      First Name
                  </th>
                  <th>
                      Last Name
                  </th>
                  <th>
                      Address
                  </th>
                  <th>
                        Power Usage
                  </th>
                  </tr>
              </thead>
              <tr *ngFor="let user of filtered" (click) = "showMeOnMap(user.id)">
               
                
                  <td> <i class="fa fa-angle-right fa-lg" (click) = "showMeDevices(user.id)" ></i>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.address}}, {{user.city}}, {{user.country}}</td>
                  <td>{{user.powerUsage}}kw/h</td>
                  <!-- <td><input (click)="exportSelectedData();" type="checkbox"></td> -->
              </tr>
              <tr>
                
              </tr>
              <!-- <tfoot style="text-align: center;">
                <div class="row">
                  <div class="col-sm">
                    <select class="form-select" [(ngModel)]="selected">
                      <option *ngFor="let size of pageSizeOption">{{size}}</option>
                    </select>
                  </div>
                  <div class="col-sm">
                    <a (click)="prevPage()"><i class="fa fa-angle-left"></i> Previous page</a>
                  </div>
                  <div class="col-sm">
                    <a (click)="nextPage()">Next page <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
                
            </tfoot> -->
          </table>
         
          <table>
            <thead>
              <tr>
                <th>Device name</th>
                <th>Type of Device</th>
                <th>Device manifacture</th>
                <th>Mac Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let device of allUserDevices">
                
                <td>{{device.deviceTypeName}}</td>
                <td>{{device.typeOfDevice}}</td>
                <td>{{device.manufacturerName}}</td>
                <td>{{device.macAdress}}</td>
              </tr>
            </tbody>
          </table>
          
          
        </div> 
    </div>
    <div class="col">
        <div id = "map" style="width: 450px; height: 300px;" >
            
        </div>
    </div>
 </div>
