<app-nav></app-nav>
<div class="row" style="margin-top: 100px;">
  <div class="col-lg-7">
    <div class="input-div">
        <label>Search by first name:</label>
        <input type="text" [(ngModel)]="_searchByName" placeholder="Milovan">
        <label>Search by address:</label>
        <input type="text" [(ngModel)]="_searchByCity" placeholder="Addres NN">
        <button (click)="toggleExportSelected(); export()" (click) = "exportSelectedData()">Export data</button>
        
    </div>
      <div class="card">
          <table tableexporter class="table-hover" #myTable id = "myTable">
              <thead>
                <tr>
                  <th (click)="setActiveCol(0)" [ngClass]="{'active': activeColIndex === 0}"></th>
                  <th (click)="setActiveCol(1)" [ngClass]="{'active': activeColIndex === 1}">First Name</th>
                  <th (click)="setActiveCol(2)" [ngClass]="{'active': activeColIndex === 2}">Last Name</th>
                  <th (click)="setActiveCol(3)" [ngClass]="{'active': activeColIndex === 3}">Address</th>
                  <th (click)="setActiveCol(4)" [ngClass]="{'active': activeColIndex === 4}"> Power Usage</th>
                  <th (click)="setActiveCol(4)" [ngClass]="{'active': activeColIndex === 5}"></th>
                </tr>
              </thead>
              <tr *ngFor="let user of allUsers | filterName : _searchByName | filterAddress : _searchByCity" (click) = "showMeOnMap(user.id)" [ngClass]="{'table-active': activeItem === user.id}" >
                  <td> <i class="fa fa-angle-right fa-lg" (click) = "showMeDevices(user.id)" ></i> </td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.address}}, {{user.city}}, {{user.country}}</td>
                  <td>{{user.powerUsage}}kw/h</td>
                  <td><input  [(ngModel)]="user.selected" type="checkbox" style="width: 20px;"></td>
              </tr>
              <tr>
                
              </tr>
              <!-- <tfoot style="text-align: center;">
                <div class="row">
                  <div class="col-sm">
                    <select class="form-select" [(ngModel)]="selected">
                      <option *ngFor="let size of pageSizeOption">{{size}}</option>
                    </select>
                  </div>
                  <div class="col-sm">
                    <a (click)="prevPage()"><i class="fa fa-angle-left"></i> Previous page</a>
                  </div>
                  <div class="col-sm">
                    <a (click)="nextPage()">Next page <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
                
            </tfoot> -->
          </table>
         
          <table>
            <thead>
              <tr>
                <th>Device name</th>
                <th>Type of Device</th>
                <th>Device manifacture</th>
                <th>Mac Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let device of allUserDevices">
                
                <td>{{device.deviceTypeName}}</td>
                <td>{{device.typeOfDevice}}</td>
                <td>{{device.manufacturerName}}</td>
                <td>{{device.macAdress}}</td>
              </tr>
            </tbody>
          </table>
          
          
        </div> 
    </div>
    <div class="col">
        <div id = "map" style="width: 450px; height: 300px;" >
            
        </div>
    </div>
 </div>
