<div class="container d-flex flex-row">
  <div class="col-8">
    <form class="w-100">
      <div class="row w-100">
        <label>User</label>
        <input type="text" name="taskUser">
      </div>
      <div class="row w-100">
        <label>Title</label>
        <input type="text" name="taskTitle">
      </div>
      <div class="row w-100">
        <label>Description</label>
        <input type="text" name="taskDescription">
      </div>
      <div class="row w-100">
        <button class="btn btn-primary">Dodaj Task</button>
      </div>
    </form>
  </div>
  <div class="col-4">
    <div class="row">
      <p>Naslov</p>
      <p>Brkica Droga</p>
    </div>
    <div class="row">
      <p>User</p>
      <p>Brkica</p>
    </div>
    <div class="row">
      <p>Opis</p>
      <p>Okupaj dete</p>
    </div>
  </div>
</div>