<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <form class="p-4 "  style="align-items: center;">
                <div class="form-group" >
                    <label for="username">First Name:</label>
                    <input style = "width: 100%" type="text" class="form-control"  id="first-name" aria-describedby="First Name" name="firstName" [(ngModel)]="firstName" >
                </div>

                <div class="form-group" style="align-self: center;">
                    <label for="First Name">Last Name:</label>
                    <input style = "width: 100%" type="text" class="form-control" id="last-name" name="lastName" [(ngModel)]="lastName">
                </div>
                <div class="form-group" style="align-self: center;">
                    <label for="Email Address">Email Address:</label>
                    <input style = "width: 100%" type="text" class="form-control" name="email"  [(ngModel)]="email">
                </div>
            </form>
            <div class="modal-footer ">
                <button type="button" class="btn-save" (click)="updateDispacher()">Save Changes</button>
              </div>
        </div>
        
    </div>
</div>
          
