<app-nav></app-nav>
<div class="container">

  <table class="table align-middle mb-0 bg-white">
    <thead >
      <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Comments</th>
        <th>Accept</th>
        <th>Decline</th>
       </tr>
    </thead>
    <tbody>
      <tr >
        <td >
          <div>
          <img
          src="../../../assets/icons/profile-user.png"
          alt=""
          style="width: 45px; height: 45px;"
          class="rounded-circle"
          /></div>
        </td>
        <td>First name</td>
        <td>Last name</td>
        <td>City, Street</td>
        <td>
          <button class="btn  btn-lock  w-60 text-center">
               VIEW COMMENTS
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
              src="../../../assets/icons/check.png"
              alt=""
              style="width: 45px; height: 45px;"
              class="rounded-circle"/>
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
                src="../../../assets/icons/multiply.png"
                alt=""
                style="width: 45px; height: 45px;"
                class="rounded-circle"
                />
          </button>
        </td>

      </tr>
      <tr  >
        <td><img
          src="../../../assets/icons/profile-user.png"
          alt=""
          style="width: 45px; height: 45px;"
          class="rounded-circle"
          />
        </td>
        <td>First name</td>
        <td>Last name</td>
        <td>City, Street</td>
        <td>
          <button class="btn btn-primary btn-lock w-60 text-center">
               VIEW COMMENTS
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
              src="../../../assets/icons/check.png"
              alt=""
              style="width: 45px; height: 45px;"
              class="rounded-circle"/>
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
                src="../../../assets/icons/multiply.png"
                alt=""
                style="width: 45px; height: 45px;"
                class="rounded-circle"
                />
          </button>
        </td>
      </tr>
      <tr>
        <td><img
          src="../../../assets/icons/profile-user.png"
          alt=""
          style="width: 45px; height: 45px;"
          class="rounded-circle"
          />
        </td>
        <td>First name</td>
        <td>Last name</td>
        <td>City, Street</td>
        <td>
          <button class="btn btn-primary btn-lock  w-60 text-center">
               VIEW COMMENTS
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
              src="../../../assets/icons/check.png"
              alt=""
              style="width: 45px; height: 45px;"
              class="rounded-circle"/>
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
                src="../../../assets/icons/multiply.png"
                alt=""
                style="width: 45px; height: 45px;"
                class="rounded-circle"
                />
          </button>
        </td>
      </tr>
      <tr>
        <td><img
          src="../../../assets/icons/profile-user.png"
          alt=""
          style="width: 45px; height: 45px;"
          class="rounded-circle"
          />
        </td>
        <td>First name</td>
        <td>Last name</td>
        <td>City, Street</td>
        <td>
          <button class="btn btn-primary btn-lock  w-60 text-center">
               VIEW COMMENTS
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
              src="../../../assets/icons/check.png"
              alt=""
              style="width: 45px; height: 45px;"
              class="rounded-circle"/>
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
                src="../../../assets/icons/multiply.png"
                alt=""
                style="width: 45px; height: 45px;"
                class="rounded-circle"
                />
          </button>
        </td>
      </tr>
      <tr>
        <td><img
          src="../../../assets/icons/profile-user.png"
          alt=""
          style="width: 45px; height: 45px;"
          class="rounded-circle"
          />
        </td>
        <td>First name</td>
        <td>Last name</td>
        <td>City, Street</td>
        <td>
          <button class="btn btn-primary btn-lock  w-60 text-center">
               VIEW COMMENTS
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
              src="../../../assets/icons/check.png"
              alt=""
              style="width: 45px; height: 45px;"
              class="rounded-circle"/>
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
                src="../../../assets/icons/multiply.png"
                alt=""
                style="width: 45px; height: 45px;"
                class="rounded-circle"
                />
          </button>
        </td>
      </tr>
      <tr>
        <td><img
          src="../../../assets/icons/profile-user.png"
          alt=""
          style="width: 45px; height: 45px;"
          class="rounded-circle"
          />
        </td>
        <td>First name</td>
        <td>Last name</td>
        <td>City, Street</td>
        <td>
          <button class="btn btn-primary btn-lock  w-60 text-center">
               VIEW COMMENTS
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
              src="../../../assets/icons/check.png"
              alt=""
              style="width: 45px; height: 45px;"
              class="rounded-circle"/>
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
                src="../../../assets/icons/multiply.png"
                alt=""
                style="width: 45px; height: 45px;"
                class="rounded-circle"
                />
          </button>
        </td>
      </tr>
      <tr>
        <td><img
          src="../../../assets/icons/profile-user.png"
          alt=""
          style="width: 45px; height: 45px;"
          class="rounded-circle"
          />
        </td>
        <td>First name</td>
        <td>Last name</td>
        <td>City, Street</td>
        <td>
          <button class="btn btn-primary btn-lock  w-60 text-center">
               VIEW COMMENTS
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
              src="../../../assets/icons/check.png"
              alt=""
              style="width: 45px; height: 45px;"
              class="rounded-circle"/>
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
                src="../../../assets/icons/multiply.png"
                alt=""
                style="width: 45px; height: 45px;"
                class="rounded-circle"
                />
          </button>
        </td>
      </tr>
      <tr>
        <td><img
          src="../../../assets/icons/profile-user.png"
          alt=""
          style="width: 45px; height: 45px;"
          class="rounded-circle"
          />
        </td>
        <td>First name</td>
        <td>Last name</td>
        <td>City, Street</td>
        <td>
          <button class="btn btn-primary btn-lock  w-60 text-center">
               VIEW COMMENTS
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
              src="../../../assets/icons/check.png"
              alt=""
              style="width: 45px; height: 45px;"
              class="rounded-circle"/>
          </button>
        </td>
        <td>
          <button class="btn btn-primary btn-lock  w-50 text-center  my-custom-button">
            <img
                src="../../../assets/icons/multiply.png"
                alt=""
                style="width: 45px; height: 45px;"
                class="rounded-circle"
                />
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
