  <app-nav class="desktop"></app-nav>
  <app-mob-nav class="mobile"></app-mob-nav>

  <div class="outer">

    <div class="container">
      <div class="row centriranje">
        <h2>Consumption</h2>
        <div class="col-sm mt-4 pt-2">
            <select [(ngModel)]="selectedGraphHistoryConsumption" (click)="HistoryConsumption(selectedGraphHistoryConsumption, userID)">
              <option value="24h">Previous 24 hours</option>
              <option value="7days">Previous 7 days</option>
              <option value="month">Previous Month</option>
            </select>

            <div *ngIf="selectedGraphHistoryConsumption === 'month'">
                <ngx-spinner bdColor = "rgba(0, 0, 0, 0.5)" size = "medium" color = "#fff" type = "ball-spin" [showSpinner]="showPreviousMonth" [fullScreen]="false" *ngIf="showPreviousMonth"><p style="color: #fff; margin-top: 60px;" > Please wait... </p></ngx-spinner>
              <canvas #consumptionPrevMonthGraph></canvas>
            </div>
            <div *ngIf="selectedGraphHistoryConsumption === '7days'">
              <ngx-spinner bdColor = "rgba(0, 0, 0, 0.5)" size = "medium" color = "#fff" type = "ball-spin" [showSpinner]="showPrevious7days" [fullScreen]="false" *ngIf="showPrevious7days"><p style="color: #fff; margin-top: 60px;" > Please wait... </p></ngx-spinner>
              <canvas #consumptionPrev7daysGraph ></canvas>
            </div>
            <div *ngIf="selectedGraphHistoryConsumption === '24h'">
              <ngx-spinner bdColor = "rgba(0, 0, 0, 0.5)" size = "medium" color = "#fff" type = "ball-spin" [showSpinner]="showPrevious24h" [fullScreen]="false" *ngIf="showPrevious24h"><p style="color: #fff; margin-top: 60px;" > Please wait... </p></ngx-spinner>
              <canvas #previous24ConsumptionGraph ></canvas>
            </div>
        </div>
        <div class="col-sm mt-4 pt-2" >
          <select [(ngModel)]="selectedGraphFutureConsumption" (click)="FutureConsumption(selectedGraphFutureConsumption, userID)">
              <option value="24h">Next 24 hours</option>
              <option value="7days">Next 7 days</option>
              <option value="month">Next Month</option>
          </select>

          <div *ngIf="selectedGraphFutureConsumption === 'month'" >
            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.5)" size = "medium" color = "#fff" type = "ball-spin" [showSpinner]="showNextMonth" [fullScreen]="false" *ngIf="showNextMonth"><p style="color: #fff; margin-top: 60px;" > Please wait... </p></ngx-spinner>
            <canvas #consumptionNextMonthGraph></canvas>
          </div>
          <div *ngIf="selectedGraphFutureConsumption === '24h'" >
            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.5)" size = "medium" color = "#fff" type = "ball-spin" [showSpinner]="showNext24h" [fullScreen]="false" *ngIf="showNext24h"><p style="color: #fff; margin-top: 60px;" > Please wait... </p></ngx-spinner>
            <canvas #next24ConsumptionGraph></canvas>
          </div>
          <div *ngIf="selectedGraphFutureConsumption === '7days'" >
            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.5)" size = "medium" color = "#fff" type = "ball-spin" [showSpinner]="showNext7days" [fullScreen]="false" *ngIf="showNext7days"><p style="color: #fff; margin-top: 60px;" > Please wait... </p></ngx-spinner>
            <canvas #consumptionNext7daysGraph></canvas>
          </div>
      </div>
      </div>
      <div class="row centriranje mt-4 ">
        <h2>Production</h2>
        <div class="col-sm mt-4 pt-2 mb-4">
            <select [(ngModel)]="selectedGraphHistoryProduction" (click)="HistoryProduction(selectedGraphHistoryProduction, userID)">
              <option value="24h">Previous 24 hours</option>
              <option value="7days">Previous 7 days</option>
              <option value="month">Previous Month</option>
          </select>

          <div *ngIf="selectedGraphHistoryProduction === '24h'">
            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.5)" size = "medium" color = "#fff" type = "ball-spin" [showSpinner]="showProdPrevious24h" [fullScreen]="false" *ngIf="showProdPrevious24h"><p style="color: #fff; margin-top: 60px;" > Please wait... </p></ngx-spinner>
             <canvas #previous24ProductionGraph ></canvas>
          </div>

          <div *ngIf="selectedGraphHistoryProduction === 'month'">
            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.5)" size = "medium" color = "#fff" type = "ball-spin" [showSpinner]="showProdPreviousMonth" [fullScreen]="false" *ngIf="showProdPreviousMonth"><p style="color: #fff; margin-top: 60px;" > Please wait... </p></ngx-spinner>
            <canvas #productionPrevMonthGraph></canvas>
          </div>

          <div *ngIf="selectedGraphHistoryProduction === '7days'" >
            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.5)" size = "medium" color = "#fff" type = "ball-spin" [showSpinner]="showProdPrevious7days" [fullScreen]="false" *ngIf="showProdPrevious7days"><p style="color: #fff; margin-top: 60px;" > Please wait... </p></ngx-spinner>
            <canvas #productionPrev7daysGraph></canvas>
          </div>



        </div>
        <div class="col-sm kolona mt-4 pt-2 mb-4" >
            <select [(ngModel)]="selectedGraphFutureProduction" (click)="FutureProduction(selectedGraphFutureProduction, userID)">
              <option value="24h">Next 24 hours</option>
              <option value="7days">Next 7 days</option>
              <option value="month">Next Month</option>
            </select>

            <div *ngIf="selectedGraphFutureProduction === 'month'" >
              <ngx-spinner bdColor = "rgba(0, 0, 0, 0.5)" size = "medium" color = "#fff" type = "ball-spin" [showSpinner]="showProdNextMonth" [fullScreen]="false" *ngIf="showProdNextMonth"><p style="color: #fff; margin-top: 60px;" > Please wait... </p></ngx-spinner>
              <canvas #productionNextMonthGraph></canvas>
            </div>

            <div *ngIf="selectedGraphFutureProduction === '24h'" >
              <ngx-spinner bdColor = "rgba(0, 0, 0, 0.5)" size = "medium" color = "#fff" type = "ball-spin" [showSpinner]="showProdNext24h" [fullScreen]="false" *ngIf="showProdNext24h"><p style="color: #fff; margin-top: 60px;" > Please wait... </p></ngx-spinner>
            <canvas #next24ProductionGraph></canvas>
            </div>

            <div *ngIf="selectedGraphFutureProduction === '7days'" >
              <ngx-spinner bdColor = "rgba(0, 0, 0, 0.5)" size = "medium" color = "#fff" type = "ball-spin" [showSpinner]="showProdNext7days" [fullScreen]="false" *ngIf="showProdNext7days"><p style="color: #fff; margin-top: 60px;" > Please wait... </p></ngx-spinner>
            <canvas #productionNext7daysGraph></canvas>
            </div>
        </div>

    </div>



    </div>
  </div>


