<app-nav class="desktop"></app-nav>
<app-mob-nav class="mobile"></app-mob-nav>
<div class="outer centriranje">
    <div class="container">
        <div class="row">
            <div class="col align-center">
                <button mat-icon-button (click)="goBack()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <div class="col centriranje pb-3">
                <h3>{{ device?.deviceTypeName }}</h3>
            </div>
            <div class="col align-center">
                <p-confirmDialog></p-confirmDialog>
                <button mat-icon-button (click)="del()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col align-center">
                <button mat-icon-button class="simple align-center" (click)="toggleDetails()">
                    <mat-icon>info</mat-icon>
                    &nbsp;&nbsp;Device details&nbsp;
                </button>
            </div>
            <div class="col align-center">
                <button mat-icon-button class="simple align-center" (click)="showPermissions()">
                    <mat-icon>bolt</mat-icon>
                    &nbsp;&nbsp;Permissions&nbsp;
                </button>
            </div>
        </div>
        <div class="row detalji mb-3 pt-3" *ngIf="showDetails">
            <div class="col-8">
                <p><span>Name:</span> {{device?.deviceName}}</p>
                <p><span>Manufacturer:</span> {{device?.manufacturerName}}</p>
                <p><span>Wattage:</span> {{device?.deviceWattage}}</p>
                <p><span>Mac Address:</span> {{device?.macAdress}}</p>
            </div>
            <div class="col-4 klasa" >
            <button mat-icon-button class="edit" (click)="edit()">
                <mat-icon>edit</mat-icon>
            </button>
            </div>
        </div>
        <div class="part">
            <div class="row">
                <div class="col hide-on-mobile"></div>
                <div class="col">
                  <h5 *ngIf="groupName === 'Consumer'">Daily Consumption</h5>
                  <h5 *ngIf="groupName === 'Producer'">Daily Production</h5>
                  <h5 *ngIf="groupName === 'Storage'">Daily Storage</h5>
                </div>
                <div class="col centriranje">
                    <select [(ngModel)]="selectedOption" (ngModelChange)="onOptionSelect()">
                        <option value="Yesterday">Yesterday</option>
                        <option value="Tomorrow">Tomorrow</option>
                        <option value="Week">Week</option>
                        <option value="Last Month">Last Month</option>
                        <option value="Next Month">Next Month</option>
                    </select>
                </div>
            </div>
            <div class="align-center chart">
                <canvas #chart></canvas>
            </div>
        </div>
    </div>
</div>

