@font-face {
    font-family: font1;
    src: url(/assets/fonts/Inter-Regular.ttf);
 }

 @media(max-width: 480px) {
    .mobile{
        display: contents;
    }
    .desktop{
        display: none;
    }
  }
  
  @media(min-width: 481px){
    .mobile{
        display: none;
    }
    .desktop{
        display: contents;
    }
  }

 
@media (max-width: 280px) /*Fold*/
{ 
    .container{
        width: 90%;
        background-color: white;
        margin-bottom:10%;
    }
    
    h3{
        color: #026670;
        text-transform: none;
        margin-top: 25px;
    }

    .forma{
        background-color:white;
        filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
        width: 97%;
    }

    .simple{
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .custom-select div{
        padding-top: none;
    }

    mat-icon{
        color:#026670;
    }
    
    
}

@media (min-width: 281px) and (max-width: 480px) /*Phones*/
{
    .container{
        width: 85%;
        background-color: white;
    }

    .outer{
        margin-bottom: 10%;
    }

    .inputi div input{
        border: 2px solid #026670;
    }

    h3{
        color: #026670;
        text-transform: none;
        margin-top: 25px;
    }

    .forma{
        background-color:white;
        filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
        width: 97%;
    }

    .simple{
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .simple mat-icon{
        font-size: 18px;
    }

    .custom-select div{
        padding-top: none;
    }

    mat-icon{
        color:#026670;
    }

}
 
@media (min-width: 481px) and (max-width: 1023px)  /*Tablet*/
{
    .container{
        width: 80%;
        background-color: #026670;
    }

    .outer{ 
        margin-top: 80px;
    }

    h3{
        color:white;
        text-transform: uppercase;
        margin: 25px 0;
    }

    .forma{
        background-color:#EDEAE5;
        width: 90%;
    }

    .simple{
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .row > .col-sm > button{
        margin-top: 30px;
    }

    mat-icon{
        color:#026670;
      }
    
}

@media (min-width: 1024px) /*Laptops and Desktops */
{
    .container{
        width: 70%;
        background-color: #026670;
    }

    .outer{ 
        margin-top: 80px;
    }

    h3{
        color:white;
        text-transform: uppercase;
        margin: 25px 0;
    }

    .forma{
        background-color:#EDEAE5;
        width: 90%;
    }

    .simple{
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .custom-select div{
        margin-bottom: 20px;
    }

    mat-icon{
        color:white;
      }
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
}

.container{
    border-radius: 17px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: font1;
}

h3{
    font-size: 24px;
    font-weight: bold;
}

.centriranje{
    display:flex;
    justify-content: center;
    align-items: center;
}

.simple{
    border-radius: 17px;
    background-color:#026670;
    color:white;
    font-weight: bold;
    font-size: 12px;
    border: none;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    padding: 5px 5px;
}

.simple:hover {
    background-color: #0394a2;
    color:white;    
}

.simple:focus{
    background-color: #0394a2;
    color: white;
}

.simple mat-icon{
    color:white;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    text-align: left;
    text-transform:uppercase;
    font-size: 14px;
    color:#026670;
    margin-left: 1%;
}

span{
    font-weight: bold;
    color:black;
}