
.row{
    background-color: #F6F5F3;
    padding: 20px;
    border-radius: 8px;
}
.col-sm{
    background-color: rgba(255, 255, 255, 0.64) ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px;
}
.col-md{
    background-color: rgba(255, 255, 255, 0.64) ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px;
}
.display-5{
    color: #026670;
    font-weight: 500;
}
h1{
    color: #026670;
    font-weight: 500;
}
