
<app-sidenav></app-sidenav>
<div class="container">
    <div class="row" id="edit-title">
        <h1 >EDIT DEVICE DETAILS</h1>
    </div>
    <div class="row" style="background-color: #EDEAE5;">
        <div class="col" id="form-col">
          <form>
            <div class="form-group">
              <h4>DEVICE MANUFACTURER</h4>
              <input type="text" class="form-control" id="manufacturer"  placeholder="SELECT DEVICE MANUFACTURER">
            </div>
            <div class="form-group">
              <h4>WATTAGE</h4>
              <input type="text" class="form-control" id="wattage"  placeholder="INSERT WATTAGE">
            </div>
            <div class="form-group">
              <h4>USAGE FREQUENCY</h4>
              <input type="text" class="form-control" id="frequency"  placeholder="INSERT USAGE FREQUENCY">
            </div>
            <div class="form-group">
              <h4>DEVICE MAC ADDRESS</h4>
              <input type="text" class="form-control" id="mac-address"  placeholder="INSERT DEVICE MAC ADDRESS">
            </div>
          </form>
        </div>
        <div class="col" id="form-col2">
          <form>
            <div class="form-group">
              <h4>DEVICE NAME</h4>
              <input type="text" class="form-control" id="manufacturer"  placeholder="INSERT NAME OF DEVICE">
            </div>
            <div class="form-group">
              <h4>USAGE TIME</h4>
              <input type="text" class="form-control" id="wattage"  placeholder="INSERT USAGE TIME">
            </div>
            <div class="form-group">
              <h4>AGE OF DEVICE</h4>
              <input type="text" class="form-control" id="frequency"  placeholder="INSERT AGE OF THE DEVICE">
            </div>
            <div class="form-group" id="premissions">
                <h4>PREMISSIONS</h4>
                <hr id="line">
                <p>Allow DSO To Collect Data </p>
                <p>Allow DSO To Control Consuption Time</p>

            </div>
          </form>
        </div>
    </div>
    <button type="submit" class="btn btn-primary font-weight-bold btn-lock mt-4 mt-2">EDIT</button>
</div>
