<app-nav></app-nav>
<div class="outer" style="margin-top: 90px;">
<div class="container">
    <div class="row">
        <div>
            <h1 class="display-2" style="text-align: center;">Weather: </h1>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <h1 class = "display-2" style="text-align: center;">Total devices: {{total}}</h1>
        <div>
            <canvas #myChart style="width: 200px; height: 200px;"></canvas>  
        </div>
    </div>
    
   
    <div class="row" style="margin-top: 30px;">
        <h1 class = "display-2" style="text-align: center;">Total users: {{totalUsers}}</h1>
        <div>
            <canvas #myChartUsers style="width: 200px; height: 200px;"></canvas>  
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <h1 class = "display-2" style="text-align: center;">Number of Appliances </h1>

        <div>
            <canvas #myChartForEveryTypeOfDevice style="width: 100%;"></canvas>
        </div>
        <!-- <div>
            <h1>Number of Appliances for Prosumers:</h1>
            <canvas #myChartProsumers style="width:20%"></canvas> 
        </div>
        <div>
            <h1>Number of Appliances for Consumers:</h1>
            <canvas #myChartConsumers style="width:20%"></canvas>
        </div>
            <h1>Number of Appliances for Storages</h1>
            <canvas #myChartStorage style="width:20%"></canvas>
        <div>
        </div> -->
        <!-- <select (change)="onOptionChange($event)">
            <option value="prosumer">Prosumer</option>
            
            <option value="consumer">Consumer</option>
            
            <option value="storage">Storage</option>
        </select>
        </h1>
        <div *ngIf="selectOption === 'prosumer'">
            <canvas #myChartProsumers style="width:20%"></canvas>  
        </div>

        <div *ngIf="selectOption === 'consumer'">
            <canvas #myChartConsumers style="width:20%"></canvas>
        </div>

        <div *ngIf="selectOption === 'storage'">
            <canvas #myChartStorage style="width:20%"></canvas>
        </div> -->
    
    
    
</div>