<app-nav></app-nav>
<div class="outer" style="margin-top: 90px;">
<div class="container">
    <div class="row">
        <div>
            <h1 class="display-2" style="text-align: center;">Weather: </h1>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <h1 class = "display-2" style="text-align: center;">Total devices: {{total}}</h1>
        <div>
            <canvas #myChart style="width: 200px; height: 200px;"></canvas>  
        </div>
    </div>
    
    <div class="row">
        <h1 class="display-2" style="text-align: center;">Total users: {{totalUsers}} </h1>
        <div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%; color: white;" aria-valuenow="totalUsers" aria-valuemin="0" aria-valuemax="100" ><small>{{totalUsers}}</small></div>
                <canvas #myChartUsers style="width: 200px; height: 200px;"></canvas>    
            </div>
        </div>
    </div>
    
    
    
</div>