<app-nav></app-nav>
<div class="outer" style="margin-top: 90px; margin-left: 0; margin-right: 0;">
<div class="container">
    <!-- WEATHER -->
            <div class="row" >
                <h2 class="text-center" style="margin-top: 15px;margin-bottom: 10px;">Weather Details</h2>
                <div class="col-sm-4" style="padding-top: 20px; padding-right: 60px; padding-left: 60px;">
                    <p class="text-left">
                        <img src="../../../assets/icons/weather-icons/compass.png" width="20px"> Your Time Zone : {{ this.weather.timezone }}
                    </p>
                    <p class="text-left">
                      <img src="../../../assets/icons/weather-icons/temperature(2).png" width="20px"> Temperature: {{ this.weather.current_weather.temperature }}
                    </p>
                    <p class="text-left">
                        <img src="../../../assets/icons/weather-icons/hot.png" width="20px"> Maximal Temperature: {{ this.weather.daily.temperature_2m_max[0]}}
                      </p>
                </div>
                <div class="col-sm-4" style="padding-top: 20px;margin-right: -20px; padding-top: 20px; padding-right: 60px; padding-left: 60px;">
                    <p class="text-left">
                        <img src="../../../assets/icons/weather-icons/cold.png" width="20px">Minimal Temperature: {{ this.weather.daily.temperature_2m_min[0]}}
                      </p>
                      <p class="text-left">
                        <img src="../../../assets/icons/weather-icons/storm.png" width="20px">Wind Speed: {{ this.weather.current_weather.windspeed}}
                      </p>
                      <p class="text-left">
                        <img src="../../../assets/icons/weather-icons/humidity.png" width="20px">Humidity: {{ this.weather.hourly.relativehumidity_2m[0]}}
                      </p>
                </div>
                <div class="col-sm-4">
                    <canvas #hourlyTemp style="width: 200px; height: 100px;"></canvas>
                </div>
            </div>
    <!-- TOTAL DEVICES  -->
            <div class="row">
                <h1 style="text-align: center;">Device details</h1>
                <div class="card-container">
                    <div class="card">
                        <h3 class="card-title" style="font-weight: 500; color: black; text-align: center;">Total devices:</h3>
                        <p class="card-text" style="text-align: center; font-weight: 500; font-size: 20px; color:#026670">{{total}}</p>
                    </div>
                    <div class="card">
                        <h3 class="card-title" style="font-weight: 500; color: black; text-align: center;">Prosumers:</h3>
                        <p class="card-text" style="text-align: center; font-weight: 500; font-size: 20px; color:#026670">{{producers.length}}</p>
                    </div>
                    <div class="card">
                        <h3 class="card-title" style="font-weight: 500; color: black; text-align: center;">Consumers:</h3>
                        <p class="card-text" style="text-align: center; font-weight: 500; font-size: 20px; color:#026670">{{consumers.length}}
                        </p>
                        </div>
                    <div class="card">
                        <h3 class="card-title" style="font-weight: 500; color: black; text-align: center;">Storage:</h3>
                        <p class="card-text" style="text-align: center; font-weight: 500; font-size: 20px; color:#026670">{{storage.length}}</p>
                    </div>
                  </div>
                
                    <h1 style="text-align: center; padding-top: 10px;">Power Usage</h1>
                    <div class="card-container">
                        <div class="card">
                            <h3 class="card-title" style="font-weight: 500; color: black; text-align: center;">{{hour | date:'MM/dd/yyyy hh:mm:ss a'}}:</h3>
                            <p class="card-text" style="text-align: center; font-weight: 500; font-size: 20px; color:#026670">{{currentHour}} kW/h</p>
                        </div>
                        <div class="card">
                            <h3 class="card-title" style="font-weight: 500; color: black; text-align: center;">Average Current System:</h3>
                            <p class="card-text" style="text-align: center; font-weight: 500; font-size: 20px; color:#026670">{{currentSys}} kw/h</p>
                        </div>
                        <div class="card">
                            <h3 class="card-title" style="font-weight: 500; color: black; text-align: center;">Prediction for {{next}}:</h3>
                            <p class="card-text" style="text-align: center; font-weight: 500; font-size: 20px; color:#026670">{{nextMonthSummary}} kw/h
                            </p>
                            </div>
                        <div class="card">
                            <h3 class="card-title" style="font-weight: 500; color: black; text-align: center;">History for {{month}}:</h3>
                            <p class="card-text" style="text-align: center; font-weight: 500; font-size: 20px; color:#026670">{{previousMonth}}</p>
                        </div>
                      </div>
                    
           <br>
           <br>
            <div class="col-sm-8" style="margin-left: 180px; margin-top:20px" >
                <h1 style="text-align: center; font-size: 24px; font-weight: 500;  color: #026670;">Current Power Usage</h1>
                <canvas #currentPowerusage></canvas>
            </div>
            <br>
            <div class="col-sm-6">
                    <h4 style="text-align: center; font-size: 24px; font-weight: 500;  color: #026670;">Previous Month</h4>
                    <canvas #prevMonth></canvas>
            </div>
            
            <div class="col-sm-6">
                <h4 style="text-align: center; font-size: 24px; font-weight: 500;  color: #026670;">Next Month</h4>
                <canvas #nextMonthChart></canvas>
            </div>
           </div>
           
           <!-- POWER USAGE FOR EACH DEVICES -->
           <div class="row">
            <h1 style="text-align: center;">Devices energy graph</h1>
            <div class="col-sm-6">
                <div>
                    <h4 style="text-align: center; font-size: 24px; font-weight: 500;  color: #026670;">Previous Month for Each Device</h4>
                <canvas #prevEachDevice></canvas>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <h4 style="text-align: center; font-size: 24px; font-weight: 500;  color: #026670;">Next Month for Each Device</h4>
                <canvas #nextEachDevice></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
        
 
       
    
   

    