@font-face {
  font-family: regular;
  src: url(../../../assets/fonts/Inter-Regular.ttf);
}
#outer{
  display: flex;
  width: 1500px;
}
.container{
  box-sizing: border-box;
  max-width: 1000px;
  color: white; 
  background-color: #026670;
  border-radius: 10px;
  height: 680px;
  backdrop-filter: blur(8px); 
  margin-top: 30px;
  margin-left: 300px;
  font-family: regular;
}
/* header */
#edit-profile{
  text-align: center;
  display: contents;
  color: white;
  
}
h1{
  margin-top: 15px; 
  margin-bottom: 15px;
}

#arrow{
  float: left;
  margin-top: 25px;
  padding-left: 5px;
  cursor: pointer;
}

/* main */
.row{
    background: #026670;
    border-radius: 8px;
    color: black;
    font-family: regular;
}

#form-style{
    width: 50%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.form-group label{
    font-size: 13px;
	  font-weight: 600;
    color: black;
    padding-bottom: 5px;
}

.form-group input{
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  height: 50px;
  width: 430px;
  height: fit-content;
  text-align: center;
}

.form-group input::placeholder{
  color: black;
  font-style: italic;
  font-size: 12px;
  opacity: 0.8;
}
 #form-user-enter{
  width: 100%;
  background: #EDEAE5;
  border-radius: 7px;
  
}
#form-style{
  padding-left: 0px;padding-right: 12px;
}
/* button for notification on/off */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
    margin-top: 7px;
 
  }

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: #026670;
}
  
input:focus + .slider {
  box-shadow: 0 0 1px #026670;
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
  
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
}

.col{
  padding-top: 30px;
}

/* profile img and btn */
img{
    margin-left: 16px;
    border-radius: 10px;
    margin-top: 10px;
    border: white 2px solid;
    
}

#image-container{
    box-shadow: 2 px2px 2px 2px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 0px;
}

.form-group{
    padding-top: 7px;
    padding-bottom: 7px;
} 

.btn-add-img{
  border: none;
  border-radius: 10px;
  width: 130px;
  height: 35px;
  color: white;
  background-color: #026670;
  margin-left: 10px;
  padding-left: 5px;
  margin-right: 10px;
  
}
.btn-change-pass{
  
  width: 100%; 
  border-radius: 5px;
  background-color: #026670;
  color: white;
  cursor: pointer;
  border: none;
  height: 33px;
  margin-bottom: 10px;
}
