<app-nav class="desktop"></app-nav>
<app-mob-nav class="mobile"></app-mob-nav>
<div class="outer">
    <div class="container">
        <div class="row" id = "edit-profile">
               
            <div class="col">
                <i class="fa fa-arrow-left fa-lg"  id = "arrow" routerLink="/profile-prosumer"></i>
                <h1>Edit Profile</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6"  id = "top" style="margin-top: 30px; margin-bottom: 20px;">
                <form class="p-3 border" id = "form-user-enter">
                    <div class="form-group" >
                        <label for="username">First Name:</label>
                        <input style = "width: 100%" type="text" class="form-control" id="first-name" aria-describedby="First Namse" placeholder="Enetr your username">
                    </div>
                    <div class="form-group">
                        <label for="First Name">Last Name:</label>
                        <input style = "width: 100%" type="text" class="form-control" id="last-name" placeholder="Enetr your first name">
                    </div>
                </form>
                <div class="row" id = "img-btn" >
                    <div class="col" id = "col-img-btn">
                        <img src="../../../assets/icons/images.jpg">
                    </div>
                    <div class="row" id="row-img-btn">
                        <button class="btn-add-img"  type="button"x>Add image</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id = "bottom" style="margin-top: 30px; margin-bottom: 20px; ">
                <form  class="p-4"id = "form-user-enter">
                   
                    <div class="form-group">
                        <label for="Email Address">Email Address:</label>
                        <input style = "width: 100%" type="text" class="form-control" id="email-address" placeholder="Enter your email address">
                    </div>
                    <div class="form-group">
                        <label for="Contact Number">Contact Number</label>
                        <input style = "width: 100%" type="text" class="form-control" id="contact-numer" placeholder="Enter your contact number">
                    </div>
                    <div class="form-group">
                        <label for="Address">Address:</label>
                        <input style = "width: 100%" type="text" class="form-control" id="address" placeholder="Enter you address">
                    </div>
                    <div class="form-group">
                        <label for="Country">Country:</label>
                        <input style = "width: 100%" type="text" class="form-control" id="country" placeholder="Select your country">
                    </div>
                    <div class="form-group">
                        <label for="Time-zone">Time zone:</label>
                        <input style = "width: 100%" type="text" class="form-control" id="time-zone" placeholder="Select your time zone">
                    </div>
                    <div class="form-group" id = "change-pass">
                        <button type="submit" id = "change" style="background-color: #026670;
                        color: white;">Change Password</button>
                    </div>
                </form>
            </div>
            
            <div class="row-2"id = "btn-save">
                <div class="col-sm-6" id="col-img-btn" >
                    <button id = "save" type="submit">Save Changes</button>
                </div>
            </div>
        </div>

        


</div>
    