
#user-info{
    text-align: center;
}
*{
	overflow: hidden;
}
#main-info{
    color: #fff;
    padding: 10px;
    padding-bottom: 0px;
}
#main-info h1{
    padding-left: 10px;
}
.container{
    position: absolute;
    left: 200px;
    top: 20px;
    bottom: 40px;
    background-color: #026670;
    border-radius: 10px;
    width: 1180px;
    height: 700px;
}
#user-info{
    padding: 0;
}
.row{
    border-radius: 10px;
    display: flex;
    align-items: center;
    
    margin-left: 45px;
    margin-right: 45px; 
    padding-top: 20px;
    
    
}

img{
    top: 10px;
    width: 75%;
    padding-left: 40px;
    border-radius: 20px ;
   
}
form{
    width: 100%;
    margin: 0;
    
}
#form-col {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    margin-left: 40px;
}

.form-group{
    color:#026670;
    font-size: 14px;
    padding-bottom: 28px;
    position: relative;
}
.form-group ::placeholder{
    color: #026670;
}
.form-group input{
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}
.form-group input[type = "text"]{
    padding-left: 30px;
}
.form-group input[type = "password"]{
    padding-left: 30px;
}
.form-group span {
    position: absolute;
    left: 0px;
    top:5px
}
input:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #026670;     
}

.navigation-btn{

      background-color: #026670;
      border-radius: 5px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      width: 50%;
      font-size: 16px;
      font-weight: 500;
      padding-top: 2px;
      padding: 2px;
      text-align: center;
      transition: all .5s;
      margin-left: 90px;
      margin-top: 10px;
}
    
.navigation-btn:hover {
      color: #026670;
      background-color: cadetblue;
      transition-duration: .1s;
}
    


