
<app-sidenav></app-sidenav>
<div class="container">
  <div class="row" id="user-info">
          <div class="col" id="main-info" style="display: block ruby;">
            <i class="fa fa-user fa-3x"></i>
          <h1 class="display-4">Name</h1>
          </div>
          <small style="color: #fff; font-style: italic;">User #ID</small>
  </div>
  <div class="row" style="background-color: #EDEAE5;">
    <div class="col" id="form-col">
      <form>
          <div class="form-group">
            <span class="fa fa-envelope p-2" aria-hidden="true"></span>
            <input type="text" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <span class="fa fa-lock p-2"></span>
              <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <span class="fa fa-phone-square p-2"></span>
              <input type="text" class="form-control" id="contant-number" placeholder="Contant number">
          </div>
          <div class="form-group">
            <span class="fa fa-location-arrow p-2"></span>
          <input type="text" class="form-control" id="address" placeholder="Address">
          </div>
          <div class="form-group">
            <span class="fa fa-globe p-2"></span>
              <input type="text" class="form-control" id="country" placeholder="Country">
          </div>
          <div class="form-group">
            <span class="fa fa-clock-o  p-2"></span>
          <input type="text" class="form-control" id="timezone" placeholder="Timezone">
          </div>
          <button type="submit" class="btn btn-primary">Edit</button>
      </form>
    </div>
    <div class="col" id = "img-section">
      <img src = "../../../assets/images.jpg">
      <br>
          <button type="button" class="navigation-btn">SEND REQUEST TO DSO
            for data share</button>
    </div>
  </div>