@font-face {
    font-family: regular;
    src: url(../../../assets/fonts/Inter-Regular.ttf);
}
#outer{
    display: flex;
    width: 1500px;
}

#container {
    box-sizing: border-box;
    max-width: 1000px;
    color: white; 
    background-color: #026670;
    border-radius: 10px;
    height: 680px;
    backdrop-filter: blur(8px); 
    margin-top: 30px;
    margin-left: 300px;
    font-family: regular;
}

/* header */
#user-info{
    background-color: #026670;
    border-radius: 10px;
}

#main-info{
    display: block ruby;
    position: relative;
    text-align: center;
    width: 1000px;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

h1{
    margin: 0;
    padding-left: 0;
}

#icon-name{
    padding-right: 15px; 
    margin-top: 10px;
}

.user-id{
    color: #fff;
    font-style: italic;
    width: 100%;
    text-align: center;
    margin-top: 0;
    padding-bottom: 5px;
}

/* main */
.row{
    background-color: #EDEAE5; 
    margin: 10px; 
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    max-width: 1000px;
}
/* form */
#form-col{
    margin-top: 25px;
}
form .form-group{
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 20px;
}

.form-group label{
    font-size: 13px;
	font-weight: 600;
    color: black;
    padding-bottom: 5px;
}
.form-group input{
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    height: 50px;
    width: 430px;
    height: fit-content;
    text-align: center;
}

.form-group input::placeholder{
    color: black;
    font-style: italic;
    font-size: 12px;
    opacity: 0.8;
}
.form-group input[type = "text"]{
    padding-left: 30px;
}
.form-group input[type = "password"]{
    padding-left: 30px;
}
.form-group span {
    position: absolute;
    left: 0px;
    top: 30px;
    color: black;
    opacity: 0.7;
    left: 7px
}
.form-group span :focus{
    display: none;
}
input:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #026670; 
        
}
.form-group{
    color:#026670;
    font-size: 14px;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-group ::placeholder{
    color: #026670;
}

/* user - user-img */
img{
    width: 100%;
    border-radius: 20px ;
    border: 2px solid white;
    margin-top: 20px;
}

.navigation-btn{
    background-color: #026670;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    width: 60%;
    font-size: 16px;
    padding: 3px;
    text-align: center;
    transition: all .5s;
    margin-top: 20px;
    margin-left: 55px;
}
    
.navigation-btn:hover {
    color: #026670;
    background-color: white;
    transition-duration: .1s;
}

.btn-edit [_ngcontent-ywm-c56]{
    overflow:auto;
}

.btn-edit{
    border-radius: 17px;
    background-color:white;
    color:#026670;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    filter:drop-shadow(0px 2px 2px rgba(0,0,0,0.25));
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top: 5px 5px;
}

.btn-edit:hover{
    color: #fff;
    border: 2px solid white;
    background-color: #026670;
}


