
<app-nav></app-nav>

<div class="outer" style="position: fixed; top: 40px; left: 0px; width: 100%; height: 100%;">
  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-6 centriranje " style=" background:#EDEAE5;">
        <div class=" forma panel border" >
            <h3 class="font-weight-bold">
                Add New Employee
            </h3>
            <div class="panel-body">
                <form [formGroup] = "signupForm" (ngSubmit)="onSubmit()">
                    <div class="input-group form-group pt-2">
                            <input class = "form-control"  [ngClass] = "{'is-invalid invalid-input' : submitted && fields['firstName'].errors}" formControlName = "firstName" type="text" placeholder="First name">
                            <span class="input-group-addon addon-icon" [ngClass]="{'invalid-icon': submitted && fields['firstName'].errors}"><i class="fa fa-user"></i></span>
                            <div class="invalid-feedback">
                                <span class="text-danger" *ngIf="submitted && fields['firstName'].errors?.['required']">*First name is required!</span>
                            </div>
                    </div>
                    <div class="input-group form-group pt-4">
                        <input class = "form-control"  [ngClass] = "{'is-invalid invalid-input' : submitted && fields['lastName'].errors}" formControlName = "lastName" type="text" placeholder="Last name">
                        <span class="input-group-addon addon-icon" [ngClass]="{'invalid-icon': submitted && fields['lastName'].errors}"><i class="fa fa-user"></i></span>
                        <div class="invalid-feedback">
                            <span class="text-danger" *ngIf="submitted && fields['lastName'].errors?.['required']">*Last name is required!</span>
                        </div>
                   </div>

                    <div class="input-group form-group pt-4">
                        <input class = " form-control"  [ngClass] = "{'is-invalid invalid-input' : submitted && fields['email'].errors}" formControlName = "email" type="text" placeholder="Email">
                        <span class="input-group-addon addon-icon" [ngClass]="{'invalid-icon': submitted && fields['email'].errors}"><i class="fa fa-envelope"></i></span>
                        <div class="invalid-feedback">
                            <span class= "text-danger" *ngIf="submitted && fields['email'].errors?.['required']">*Email is required!</span>
                            <span class = "text-danger" *ngIf="fields['email'].errors?.['email']">*Please provide a valid email address</span>
                        </div>
                    </div>

                    <div class="input-group form-group pt-4">
                        <input class = "form-control"  [ngClass] = "{'is-invalid invalid-input' : submitted && fields['phonenumber'].errors}" formControlName = "phonenumber" type="text" placeholder="Phone number">
                        <span class="input-group-addon addon-icon" [ngClass]="{'invalid-icon': submitted && fields['phonenumber'].errors}"><i class="fa fa-phone"></i></span>
                        <div class="invalid-feedback">
                            <span class="text-danger" *ngIf="submitted && fields['phonenumber'].errors?.['required']">*Phone number is required!</span>
                        </div>
                    </div>

                    <div class="input-group form-group pt-4">
                            <input class = "form-control" [ngClass] = "{'is-invalid invalid-input' : submitted && fields['password'].errors}" formControlName = "password" [type]="type" placeholder="Password">
                            <span  class="input-group-addon addon-icon" style="cursor: pointer;" [ngClass]="{'invalid-icon': submitted && fields['password'].errors}"><i style="cursor:pointer" (click) = "hideShowPass()" class="fa {{eyeIcon}}"></i></span>
                            <div class="invalid-feedback">
                                <span class= "text-danger" *ngIf="submitted && fields['password'].errors?.['required']">*Password is required!</span>
                                <span class = "text-danger" *ngIf="fields['password'].errors?.['minlength']">*Please provide a valid password!</span>
                            </div>
                        </div>

                    <div class="input-group form-group pt-4 pb-3">
                          <input class="form-control" [ngClass]="{'is-invalid invalid-input': fields['confirmPassword'].errors && (fields['confirmPassword'].dirty || fields['confirmPassword'].touched || submitted)}" formControlName="confirmPassword" [type]="type2" placeholder="Confirm Password">
                          <span class="input-group-addon addon-icon" [ngClass]="{'is-invalid invalid-icon': fields['confirmPassword'].errors && (fields['confirmPassword'].dirty || fields['confirmPassword'].touched || submitted)}"><i style="cursor:pointer" (click)="hideShowPass2()" class="fa {{eyeIcon2}}"></i></span>
                          <div class="invalid-feedback">
                            <ng-container *ngIf="fields['confirmPassword'].errors">
                              <span class="text-danger" *ngIf="fields['confirmPassword'].errors?.['required'] && (fields['confirmPassword'].touched || submitted)">*Confirm password is required!</span>
                              <span class="text-danger" *ngIf="signupForm.hasError('confirmPasswordValidator', 'confirmPassword') && (fields['confirmPassword'].dirty || submitted)">*Password doesn't match!</span>
                            </ng-container>
                          </div>
                        </div>


                    <button type="submit" class="btn btn-primary btn-lock w-50">ADD</button>


                  </form>
              </div>
            </div>
        </div>
            
        <div class="col-6 centriranjegore">
            <p-table [value]="allWorkers" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }" style="height:65%;width: 100%;border-radius: 10px;padding: 50px;padding-top: 0px;"> 
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Surename</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-worker>
                    <tr>
                        <td>{{ worker.firstName }}</td>
                        <td>{{ worker.lastName }}</td>
                        <td>{{ worker.role }}</td>
                        <td>{{ worker.email }}</td>
                        <td><button style="width: 100%;"><i class="bi bi-x-lg" style="color:white"></i></button></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
  </div>
</div>
