<app-nav></app-nav>

<div class="outer" style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%;">
  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-sm centriranje " style=" background:#EDEAE5;">
        <div class=" forma panel border" >
            <h3 class="pt-3 font-weight-bold">
                Add Worker
            </h3>
            <div class="panel-body">
                <form [formGroup] = "signupForm" (ngSubmit)="onSubmit()">
                    <div class="input-group form-group pt-4">
                            <input class = "form-control"  [ngClass] = "{'is-invalid invalid-input' : submitted && fields['firstName'].errors}" formControlName = "firstName" type="text" placeholder="First name">
                            <span class="input-group-addon addon-icon" [ngClass]="{'invalid-icon': submitted && fields['firstName'].errors}"><i class="fa fa-user"></i></span>
                            <div class="invalid-feedback">
                                <span class="text-danger" *ngIf="submitted && fields['firstName'].errors?.['required']">*First name is required!</span>
                            </div>
                    </div>
                    <div class="input-group form-group pt-4">
                        <input class = "form-control"  [ngClass] = "{'is-invalid invalid-input' : submitted && fields['lastName'].errors}" formControlName = "lastName" type="text" placeholder="Last name">
                        <span class="input-group-addon addon-icon" [ngClass]="{'invalid-icon': submitted && fields['lastName'].errors}"><i class="fa fa-user"></i></span>
                        <div class="invalid-feedback">
                            <span class="text-danger" *ngIf="submitted && fields['lastName'].errors?.['required']">*Last name is required!</span>
                        </div>
                   </div>

                    <div class="input-group form-group pt-4">
                        <input class = " form-control"  [ngClass] = "{'is-invalid invalid-input' : submitted && fields['email'].errors}" formControlName = "email" type="text" placeholder="Email">
                        <span class="input-group-addon addon-icon" [ngClass]="{'invalid-icon': submitted && fields['email'].errors}"><i class="fa fa-envelope"></i></span>
                        <div class="invalid-feedback">
                            <span class= "text-danger" *ngIf="submitted && fields['email'].errors?.['required']">*Email is required!</span>
                            <span class = "text-danger" *ngIf="fields['email'].errors?.['email']">*Please provide a valid email address</span>
                        </div>
                    </div>

                    <div class="input-group form-group pt-4">
                            <input class = "form-control" [ngClass] = "{'is-invalid invalid-input' : submitted && fields['password'].errors}" formControlName = "password" [type]="type" placeholder="Password">
                            <span  class="input-group-addon addon-icon" style="cursor: pointer;" [ngClass]="{'invalid-icon': submitted && fields['password'].errors}"><i (click) = "hideShowPass()" class="fa {{eyeIcon}}"></i></span>
                            <div class="invalid-feedback">
                                <span class= "text-danger" *ngIf="submitted && fields['password'].errors?.['required']">*Password is required!</span>
                                <span class = "text-danger" *ngIf="fields['password'].errors?.['minlength']">*Please provide a valid password!</span>
                            </div>
                        </div>



                    <button type="submit" class="btn btn-primary btn-lock mt-5 w-50">ADD</button>


                  </form>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
