.inputi > .form-group> input{
    width: 90%;
    border-radius: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    text-align: center;
    height: 50px;   
}

.inputi > .form-group > label{
    margin-left: 15px;
}

input::placeholder{
    text-transform: uppercase;
    color: black;
    opacity: 0.5;
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
}

label{
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    width: 90%;
    font-size: 13px;
}


.permissions{
    width: 90%;
    border-radius: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    text-align: center;
}

.permissions > label{
    font-weight: bolder;
}

.inputi{
    text-align: center;
}

.form-group > input{
    margin-left: auto;
    margin-right: auto;
}

#toggle-buttons > .form-check > label{
    text-transform: none;
}


hr{
    width: 70%;
    border: 2px solid black;
    margin: auto;
}


.form-check-input:checked {
  background-color: #026670;
}

button{
    border-radius: 17px;
    background-color:#026670;
    color:white;
    font-weight: bold;
    font-size: 12px;
    border: none;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    padding: 5px 25px;
    text-transform: uppercase;
}

button:hover {
    background-color: white;
    color:#227982;    
}

button:disabled{
    background-color: grey;
    color: white;
}