<div class="row pb-4">
    <div class="col-sm">
        <div class="inputi">
            <div class="form-group pt-3">
                <label for="manufacturer">Device Manufacturer</label>
                <select id="manufacturer-dropdown" [(ngModel)]="selectedManufacturer" (change)="onManufacturerChanged()" class = "form-control">
                    <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.manufacturerID">{{ manufacturer.manufacturerName }}</option>
                  </select>
            </div>
            <div class="form-group text-right pt-3">
                <div *ngIf="devices.length">
                    <label for="device-dropdown">Select a device:</label>
                    <select id="device-dropdown" [(ngModel)]="selectedDeviceID" class="form-control" formControlName="name" (ngModelChange)="onDeviceSelectionChange($event)">
                      <option *ngFor="let device of devices" [value]="device.deviceID">{{ device.name }} - {{device.wattage}}W</option>
                    </select>
                  </div>
                  
            </div>
            <div class="form-group pt-3">
                <label for="mac-address">Device Mac Address</label>
                <input class = "form-control" formControlName = "mac-address" type="text" placeholder="Insert Device Mac Address">
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="text-center form-group mt-4 pt-3 pb-3 bg-white permissions mx-auto">
            <label class="text-center font-weight-bold pb-2" for="toggle-buttons">Permissions</label>
            <hr>
            <div id="toggle-buttons" >
                <div class="form-check form-switch pt-3 d-flex justify-content-center">                            
                    <label class="form-check-label me-4" for="toggle-button-1">Allow DSO To Collect Data</label>
                    <input class="form-check-input" formControlName="toggleButton1" type="checkbox" id="toggle-button-1">
                </div>
                <div class="form-check form-switch d-flex justify-content-center">
                    <label class="form-check-label me-4" for="toggle-button-2">Allow DSO To Control Consumption Time</label>
                    <input class="form-check-input" formControlName="toggleButton2" type="checkbox" id="toggle-button-2" [(ngModel)]="toggle2Checked">
                </div>
            </div>
        </div>
        <div class="pt-4">
            <button class="mx-2 mt-2"><img src="assets/icons/add.png" alt="icon" style="width:20px; margin-right: 10px;" (click)="onSubmit()">Add New Rule</button>
            <button class="mx-2 mt-2" [disabled]="!toggle2Checked"><img src="assets/icons/log-out.png" alt="icon" style="width:15px; color: white; margin-right: 10px;">Add New Requirement</button>
        </div>
    </div>
</div>
