@font-face {
  font-family: font1;
  src: url(/assets/fonts/Chivo-Regular.ttf);
}


.container
{
  background-color:#FCFBFB;
  border-radius: 15px;
  font-family: font1;
  filter:drop-shadow(0px 8px 4px rgba(0,0,0,0.25));
  text-align: center;
}

.card-body
{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row
{
  display:flex;
  justify-content: center;
  align-items: center;
}

.device-col
{

  box-shadow:0px 0px 4px rgba(0,0,0,0.25);
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  float:left;
}

.device-col div
{
  text-align: center;

}

.device-col:hover
{
  border: 3px solid #026670;
}

label{
  font-weight: bold;
  color: #026670;
  text-align: center;
}

h1
{
  color: #026670;
  font-weight: bold;
  font-size: 30px;
}

button{
  background-color: #026670;
  color:white;
  text-align: center;
  border-radius: 15px;
  filter:drop-shadow(0px 8px 4px rgba(0,0,0,0.25));
  height: 45px;
  font-size: 14px;
}

button:hover {
  background-color: white;
  border: 2px solid #026670;
  color:#026670;
}
button:active {
  background-color: #026670;
}
button:focus{
  background-color: #026670;
}

@media (max-width: 280px) /*Fold*/
{
  .manufacturer,
  .mac-address {
    display: none;
  }

  h1
  {
    font-size: 20px;
  }

  input
  {
    width: 100%;
  }

  input::placeholder
  {
    font-size: 10px;
  }

  .container
  {
    padding-right: 10px;
    margin-bottom: 60px;
  }

  button{
    width: 50%;
    font-size: 12px;
  }

  .card-title{
     font-size: 8px;
     font-weight: bold;
     color: #026670;
    padding-top: 5px;
  }

  .device-col img
  {
    width:70%;
    margin-left: 17%;
    padding-top: 15px;
  }

  .device-col
  {
    width: 35%;
  }

  .card
  {
    border: none !important;
    background-color:#FCFBFB !important;
  }

  .card-text
  {
    font-size:6px;
  }

  .card-toggle {
    margin-left: 35px;
  }

  label {
    width: 25px;
    height: 15px;
  }

  label:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
  }
}

@media(min-width: 281px) and  (max-width: 480px){
  .container
  {
    width: 100%;
    margin-bottom: 60px;
  }

  .manufacturer,
  .mac-address {
    display: none;
  }

  input
  {
    width: 90%;
  }

  button{
    width: 50%;
    font-size: 12px;
  }

  .card-title{
     font-size: 10px;
     font-weight: bold;
     color: #026670;
     padding-top: 5px;
  }
  h1
  {
    font-size: 25px;
  }
  .device-col img
  {
    width:70%;
    margin-left: 17%;
    padding-top: 15px;
  }

  .device-col
  {
    width: 38%;

  }

  .card
  {
    border: none !important;
    background-color:#FCFBFB !important;
  }

  .card-text
  {
    font-size:7px;
  }

  .card-toggle {
    margin-left: 75px;
  }

  label {
    width: 35px;
    height: 20px;
  }

  label:after {
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
  }

}
@media(min-width: 1024px){
  .container
  {
      width: 100%;
      margin-left: 5px;
  }

  button{
    width: 50%;
    margin-bottom: 20px;

  }

  .card-title{
    font-size: 14px;
    padding-top: 5px;
    font-weight: bold;
    color: #026670;
  }

  .device-col img
  {
    width:50%;
    margin-left: 25%;
    padding-top: 15px;
  }

  .card
  {
    width:100%;
    border: none !important;
    background-color:#FCFBFB !important;
  }

  .device-col
  {
    width: 28%;
  }

  .card-text
  {
    font-size: 12px;
  }

  input
  {
    width:50%;
  }

  .card-toggle {
    margin-left: 110px;
  }

  label {
    width: 45px;
    height: 25px;
  }

  label:after {
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
  }

}


@media (min-width: 481px) and (max-width: 720px)
{
  .container
  {
      width:95%;
      margin-left: 5px;
      margin-bottom: 20px;
  }
  input
  {
    width: 80%;
  }

  button{
    width: 50%;
    margin-bottom: 20px;
    font-size: 13px;
  }

  .card-title{
    font-size: 10px;
    padding-top: 5px;
    font-weight: bold;
    color: #026670;
  }

  .device-col img
  {
    width:50%;
    margin-left: 25%;
    padding-top: 15px;
  }

  .device-col
  {
    width: 20%;

  }

  .card
  {
    border: none !important;
    background-color:#FCFBFB !important;
  }

  .card-text
  {
    font-size: 8px;
  }

  .card-toggle {
    margin-left: 45px;
  }

  label {
    width: 30px;
    height: 16px;
  }

  label:after {
    top: 3px;
    left: 5px;
    width: 10px;
    height: 10px;
  }

}

@media (min-width: 721px) and (max-width: 1023px)  /*Tablet*/
{
  .container
  {
      width: 100%;
  }

  button{
    width: 50%;
    margin-bottom: 20px;
    font-size: 13px;
  }

  input
  {
    width:60%;
  }


  .card-title{
    font-size: 14px;
    padding-top: 5px;
    font-weight: bold;
    color: #026670;
  }

  .device-col img
  {
    width:60%;
    margin-left: 22%;
    padding-top: 15px;
  }

  .device-col
  {
    width: 38%;

  }

  .card
  {
    border: none !important;
    background-color:#FCFBFB !important;
  }

  .card-text
  {
    font-size: 13px;
  }

  .card-toggle {
    margin-left: 70px;
  }

  label {
    width: 45px;
    height: 25px;
  }

  label:after {
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
  }
}


input{
  margin-top: 10px;
  border:2px solid #026670;
  border-radius: 5px;
  font-style: italic;
  font-size: 12px;
  height: 30px;
}


input::placeholder{
  color:rgba(2, 102, 112, 0.5);
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #026670;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 30px;
}
