<div class="container">
  <div class="row pt-4 px-3">
    <h1>My Devices</h1>
  </div>

  <div class="row mt-4">
    <a *ngFor="let device of devices" class="col mt-4 mx-3" [routerLink]="['/device-details', device.manufacturerName]">
      <div class="card">
        <img [src]="'/assets/icons-devices/' + device.deviceTypeName.toLowerCase() + '.png'" class="card-img-top" alt="{{ device.deviceTypeName }}">
        <div class="card-body">
          <h5 class="card-title">{{ device.deviceTypeName }}</h5>
          <p class="card-text">Manufacturer: {{ device.manufacturerName }}</p>
          <p class="card-text">MAC Address: {{ device.macAdress }}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="row mt-4">
    <button type="submit" class="btn btn-primary btn-lock mt-4 mb-4" routerLink="/add-device">Add New Devices</button>
  </div>
</div>