@font-face {
  font-family: font1;
  src: url(/assets/fonts/Chivo-Regular.ttf);
}

.container
{
  background-color:#FCFBFB;
  border-radius: 15px;
  font-family: font1;
  filter:drop-shadow(0px 8px 4px rgba(0,0,0,0.25));
}


.row
{
  display:flex;
  justify-content: center;
  align-items: center;
}

.col
{

  box-shadow:0px 4px 4px rgba(0,0,0,0.25);
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.col div
{
  text-align: center;

}

.col:hover
{
  border: 3px solid #026670;
}

label{
  font-weight: bold;
  color: #026670;
  text-align: center;
}

h1
{
  color: #026670;
  font-weight: bold;
  font-size: 30px;
}

button{
  background-color: #026670;
  color:white;
  text-align: center;
  border-radius: 15px;
  filter:drop-shadow(0px 8px 4px rgba(0,0,0,0.25));
  height: 45px;
  font-size: 14px;
}

button:hover {
  background-color: white;
  border: 2px solid #026670;
  color:#026670;
}
button:active {
  background-color: #026670;
}
button:focus{
  background-color: #026670;
}



@media(max-width: 480px){
  .container
  {
    width: 90%;
  }

  button{
    width: 50%;
    font-size: 12px;
  }

  label{
     font-size: 14px;
  }

  .col img
  {
    width:70%;
  }

  .col
  {
    width: 30%;

  }


}
@media(min-width: 1024px){
  .container
  {
      width: 30%;
      margin-left: 150px;
  }

  button{
    width: 50%;
    margin-bottom: 20px;

  }

  label{
    font-size: 18px;
    padding-top: 5px;
  }

  .col img
  {
    width:50%;
  }

  .col
  {
    width: 40%;

  }


  }

@media (min-width: 481px) and (max-width: 1023px)  /*Tablet*/
{
  .container
  {
      width: 30%;
  }

  button{
    width: 50%;
    margin-bottom: 20px;
    font-size: 13px;
  }

  label{
    font-size: 14px;
    padding-top: 5px;
  }

  .col img
  {
    width:50%;
  }

  .col
  {
    width: 40%;

  }
}

