@font-face {
  font-family: font1;
  src: url(/assets/fonts/Chivo-Regular.ttf);
}


.container
{
  background-color:#FCFBFB;
  border-radius: 15px;
  font-family: font1;
  filter:drop-shadow(0px 8px 4px rgba(0,0,0,0.25));
  text-align: center;
}

.card-body
{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row
{
  display:flex;
  justify-content: center;
  align-items: center;
}

.device-col
{

  box-shadow:0px 0px 4px rgba(0,0,0,0.25);
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  float:left;
}

.device-col div
{
  text-align: center;

}

.device-col:hover
{
  border: 3px solid #026670;
}

label{
  font-weight: bold;
  color: #026670;
  text-align: center;
}

h1
{
  color: #026670;
  font-weight: bold;
  font-size: 30px;
}

button{
  background-color: #026670;
  color:white;
  text-align: center;
  border-radius: 15px;
  filter:drop-shadow(0px 8px 4px rgba(0,0,0,0.25));
  height: 45px;
  font-size: 14px;
}

button:hover {
  background-color: white;
  border: 2px solid #026670;
  color:#026670;
}
button:active {
  background-color: #026670;
}
button:focus{
  background-color: #026670;
}

@media (max-width: 280px) /*Fold*/
{
  h1
  {
    font-size: 20px;
  }

  .container
  {
    width: 90%;
    margin-bottom: 60px;
  }

  button{
    width: 50%;
    font-size: 12px;
  }

  .card-title{
     font-size: 6px;
     font-weight: bold;
     color: #026670;
    padding-top: 5px;
  }

  .device-col img
  {
    width:70%;
    margin-left: 17%;
    padding-top: 15px;
  }

  .device-col
  {
    width: 34%;

  }

  .card
  {
    border: none !important;
    background-color:#FCFBFB !important;
  }

  .card-text
  {
    font-size:5px;
  }
}

@media(min-width: 281px) and  (max-width: 480px){
  .container
  {
    width: 90%;
    margin-bottom: 60px;
  }

  button{
    width: 50%;
    font-size: 12px;
  }

  .card-title{
     font-size: 8px;
     font-weight: bold;
     color: #026670;
     padding-top: 5px;
  }
  h1
  {
    font-size: 25px;
  }
  .device-col img
  {
    width:70%;
    margin-left: 17%;
    padding-top: 15px;
  }

  .device-col
  {
    width: 38%;

  }

  .card
  {
    border: none !important;
    background-color:#FCFBFB !important;
  }

  .card-text
  {
    font-size:7px;
  }

}
@media(min-width: 1024px){
  .container
  {
      width: 50%;
      margin-left: 5px;
  }

  button{
    width: 50%;
    margin-bottom: 20px;

  }

  .card-title{
    font-size: 14px;
    padding-top: 5px;
    font-weight: bold;
    color: #026670;
  }

  .device-col img
  {
    width:50%;
    margin-left: 25%;
    padding-top: 15px;
  }

  .card
  {
    width:100%;
    border: none !important;
    background-color:#FCFBFB !important;
  }

  .device-col
  {
    width: 28%;
  }

  .card-text
  {
    font-size: 12px;
  }


  }
  @media (min-width: 481px) and (max-width: 720px)
{
  .container
  {
      width: 55%;
      margin-left: 5px;
  }

  button{
    width: 50%;
    margin-bottom: 20px;
    font-size: 13px;
  }

  .card-title{
    font-size: 55%;
    padding-top: 5px;
    font-weight: bold;
    color: #026670;
  }

  .device-col img
  {
    width:50%;
    margin-left: 25%;
    padding-top: 15px;
  }

  .device-col
  {
    width: 35%;

  }

  .card
  {
    border: none !important;
    background-color:#FCFBFB !important;
  }

  .card-text
  {
    font-size: 50%;
  }
}

@media (min-width: 721px) and (max-width: 1023px)  /*Tablet*/
{
  .container
  {
      width: 65%;
      margin-left: -15px;
  }

  button{
    width: 50%;
    margin-bottom: 20px;
    font-size: 13px;
  }

  .card-title{
    font-size: 14px;
    padding-top: 5px;
    font-weight: bold;
    color: #026670;
  }

  .device-col img
  {
    width:60%;
    margin-left: 22%;
    padding-top: 15px;
  }

  .device-col
  {
    width: 40%;

  }

  .card
  {
    border: none !important;
    background-color:#FCFBFB !important;
  }

  .card-text
  {
    font-size: 13px;
  }
}

