<div class="container">
  <div class="row pt-4 px-3">
        <h1>My Devices</h1>

  </div>
  <div class="row mt-4">
    <div class="col mt-4">
      <label>Microwave</label>
      <div class="slika p-2">
          <img src="/assets/icons-devices/microwave.png">
      </div>
    </div>
    <div class="col mt-4">
      <label>Fridge</label>
      <div class="slika p-2">
         <img src="/assets/icons-devices/fridge.png">
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col mt-4">
      <label>Dishwasher</label>
      <div class="slika p-2">
          <img src="/assets/icons-devices/dishwasher.png">
      </div>
    </div>
    <div class="col mt-4">
      <label>Lamp</label>
      <div class="slika p-2">
          <img src="/assets/icons-devices/lamp.png">
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col mt-4">
      <label>TV</label>
      <div class="slika p-2">
         <img src="/assets/icons-devices/television.png">
      </div>
    </div>
    <div class="col mt-4">
      <label>Air Condition</label>
      <div class="slika p-2">
         <img src="/assets/icons-devices/air-conditioning.png">
      </div>
    </div>
  </div>
  <div class="row mt-4">
      <button type="submit" class="btn btn-primary btn-lock mt-4" routerLink="/add-device">Add new devices</button>
  </div>
</div>
