<!-- <div class="px-3 py-2" id = "nav-style">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center-justify-content-lg-start">
            <a class ="d-flex.align-items-center.my-2.my-lg-0.me-lg-auto.text-white.text-decoration-none">
                <button class="logo"><img src="../../../assets/icons/white no-background.png"/></button>
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small" >
                <li *ngFor = "let data of navData">
                    
                    <a id = "icon" class="nav-link text-secondary" [routerLink] = [data.routeLink]>

                        <i [class]="data.icon"> </i>
                       <small> {{data.label}} </small>
                       
                       
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div> -->
<header class="mb-4 fixed-top">
    <!-- Jumbotron -->
    <div class="p-3 text-center border-bottom" style="background-color: #026670;">
      <div class="container-fluid">
        <div class="row">
          <!-- Right elements -->
          <div
            class="col-md-5 d-flex justify-content-center justify-content-md-start align-items-center d-none d-lg-flex">
            <a class="text-reset me-3">
              <i class="fa fa-th-large" style="color: white;" routerLink="/dashboard"></i>
            </a>
            <a class="text-reset me-3" >
              <i class="fa fa-home" style="color: white; "routerLink="/home"></i>
            </a>
            <a class="text-reset me-3" href="#">
              <i class="fa fa-columns me-1" style="color: white;"></i>
              
            </a>
  
            
          </div>
          <!-- Right elements -->
  
          <!-- Center elements -->
          <div class="col-md-2 d-none d-lg-block">
            <a href="#!" class="ms-md-2">
              <img src="../../../assets/icons/white no-background.png" height="30px">
            </a>
          </div>
          <!-- Center elements -->
  
          <!-- Right elements -->
          <div class="col-lg-5 d-flex justify-content-center justify-content-md-end align-items-center">
            <a class="text-reset me-3" href="#">
              <i class="fa fa-plus" style="color: white;"></i>
            </a>
            <a class="text-reset me-3" href="#">
              <i class="fa fa-info-circle" style="color: white;"></i>
            </a>
  
            <!-- Notification -->
            <div class="dropdown">
              <a class="text-reset me-3" href="#" id="navbarDropdownMenuLink" role="button"
                data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell" style="color: white;" ></i>
              </a>
            </div>
  
            <!-- User -->
            <div class="dropdown">
              <a class="text-reset dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false" style="color:white">
                <i class="fa fa-user-circle" style="color: white;" ></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">My profile</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </div>
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>