<header class="mb-4 fixed-top">
  <!-- Jumbotron -->
  <div class="p-3 text-center border-bottom" style="background-color: #026670;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 d-flex justify-content-center justify-content-md-start align-items-center d-none d-lg-flex">
          <a class="text-reset me-3">
            <i class="fa fa-home"  routerLink="/home" routerLinkActive #rld ="routerLinkActive" [routerLinkActive]="'active'"></i><br>
          </a>
          <a class="text-reset me-3">
            <i class="fa fa-columns me-1"  routerLink = "/table" routerLinkActive #rlt ="routerLinkActive" [routerLinkActive]="'active'"></i><br>
          </a>
          <a class="text-reset me-3">
            <i class="fa fa-plus me-1"  routerLink = "/signup" routerLinkActive #rlw ="routerLinkActive" [routerLinkActive]="'active'"></i><br>
          </a>

        </div>

        <div class="col-md-2 d-none d-lg-block">
          <a  class="ms-md-2" id = "logo">
            <img src="../../../assets/icons/white no-background.png" height="32px">
          </a>

          <span *ngIf="rld.isActive">Home</span>
          <span *ngIf="rlt.isActive">Tables</span>
          <span *ngIf="rlw.isActive">Add Employee</span>
          <span *ngIf="rln.isActive">Notifications</span>
          <span *ngIf="rlp.isActive">Profile</span>
        </div>

        <div class="col-lg-5 d-flex justify-content-center justify-content-md-end align-items-center">
          <a class="text-reset me-3">
              <i class="fa fa-bell" routerLink = "/requirements" routerLinkActive #rln ="routerLinkActive" [routerLinkActive]="'active'"></i><br>
          </a>
            <a class="text-reset me-3" >
              <i class="fa fa-user-circle" routerLink = "/profile" routerLinkActive #rlp ="routerLinkActive" [routerLinkActive]="'active'"></i><br>
            </a>
            <a class="text-reset me-3" >
              <i class="fa fa-sign-out" [routerLinkActive]="'active'" (click)="signOut()"></i><br>
              <p-confirmDialog></p-confirmDialog>
            </a>
          </div>
        </div>
      </div>
</div>
