
.modal-fade {
  position: fixed;
  top: 81px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  display: flex;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding: 20px 20px 20px 20px 70px;
  max-height: 500px;
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #026670;
  color: #fff;
  font-weight: 700;
  text-align: left;
}

td,
th {
  padding: 10px;
  border: 1px solid #ddd;
}

button{
  background-color: #026670;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  filter:drop-shadow(0px 8px 4px rgba(0,0,0,0.25));
  letter-spacing: 3px;
  height: 40px;
}

button:hover {
  background-color: #fff;
  color: #026670;
}
