@font-face {
  font-family: regular;
  src: url(../../../assets/fonts/Inter-Regular.ttf);
}

@media (max-width: 280px)
{
  .mobile{
    display: contents;
}
.desktop{
    display: none;
}
.container
{
  margin-top: 50px;
}


label
{
  font-size: 60%;
  font-weight: bold;
  padding-left: 15%;
  padding-bottom: 10px;
}

#kolone
{
  width: 90%;
  margin-left: 12px;
  margin-bottom: 20px;
}

#prvi
{
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
  color: orange;
}

#drugi
{
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
  color: #026670;
}

#treci
{
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
  color: red;
}

img
{
  width: 25%;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
}
}

@media(min-width: 281px) and (max-width: 480px) {
  .mobile{
      display: contents;
  }
  .desktop{
      display: none;
  }
  .container
  {
    margin-top: 50px;
  }

  #deviceNumberImg
  {
    padding-top: 25px;
  }

  label
  {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #red
  {
    margin-top: 40px;
  }

  #prvi
  {
    float: left;
    width: 25%;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 30px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color: #026670;
    margin-right: 15px;
  }

  #drugi
  {
    float: left;
    width:25%;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color: #026670;
    margin-right: 15px;
  }

  #treci
  {
    float: left;
    width:25%;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color: #026670;
  }

  img
  {
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

@media(min-width: 1024px){
  .mobile{
      display: none;
  }
  .desktop{
      display: contents;
  }
  .container
  {
    margin-top: 120px;
  }

  #red
  {
    margin-top: 40px;
  }

  #deviceNumberImg
  {
    padding-top: 50px;
  }

  label
  {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  #prvi
  {
    float:left;
    width:30%;
    margin-top: 5px;
    margin-right: 25px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    filter:drop-shadow(0px 4px 8px rgba(0,0,0,0.25));
    color:#026670;
  }
  #drugi
  {
    float: left;
    width:30%;
    margin-right: 25px;
    margin-top: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color:#026670;
  }

  #treci
  {
    float: left;
    width:30%;
    margin-top: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color:#026670;
  }

  img
  {
    width: 20%;
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 10px;
  }



}


@media(min-width: 481px) and (max-width: 1023px){
  .mobile{
      display: none;
  }
  .desktop{
      display: contents;
  }
  .container
  {
    margin-top: 90px;
  }

  #kolone
  {
    float:right;
    width: 40%;
    margin-top: 40px;
    margin-right: -30px;
  }

  label
  {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 10px;
    margin-left: 10%;
  }
  #prvi
  {
    margin-top: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color: orange;
  }
  #drugi
  {
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color: #026670;
  }

  #treci
  {
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color:red;
  }

  img
  {
    width: 25%;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
  }



}

