<app-nav class="desktop"></app-nav>
<app-mob-nav class="mobile"></app-mob-nav>

<div class="outer">
  <div class="container">
    <div class="row">
      <input type="button" value="Weather Details" (click)="showWeatherDetails()" style="width:300px; height:40px">
    </div>
    <div class="row" *ngIf="showDetails">
        <h2 class="text-center" style="margin-bottom: 15px;">Weather Details:</h2>
        <div class="col-sm">
            <p class="text-left">
                <img src="../../../assets/weather-icons/compass.png"> Your Time Zone :<span style="color:#026670; font-weight:bold; padding-left:5px;"> {{ this.weather.timezone }} </span>
            </p>
            <p class="text-left">
              <img src="../../../assets/weather-icons/temperature(2).png"> Temperature: <span style="color:#026670; font-weight:bold; padding-left:5px;">{{ this.weather.current_weather.temperature }} </span>
            </p>
            <p class="text-left">
                <img src="../../../assets/weather-icons/hot.png"> Maximal Temperature: <span  style="color:#026670; font-weight:bold; padding-left:5px;">{{ this.weather.daily.temperature_2m_max[0]}} </span>
              </p>
        </div>
        <div class="col-sm">
            <p class="text-left">
                <img src="../../../assets/weather-icons/cold.png" >Minimal Temperature:<span style="color:#026670; font-weight:bold; padding-left:5px;"> {{ this.weather.daily.temperature_2m_min[0]}} </span>
              </p>
              <p class="text-left">
                <img src="../../../assets/weather-icons/storm.png">Wind Speed: <span style="color:#026670; font-weight:bold; padding-left:5px;"> {{ this.weather.current_weather.windspeed}} </span>
              </p>
              <p class="text-left">
                <img src="../../../assets/weather-icons/humidity.png">Humidity:<span style="color:#026670; font-weight:bold; padding-left:5px;"> {{ this.weather.hourly.relativehumidity_2m[0]}} </span>
              </p>
        </div>
        <div class="col-sm">
            <canvas #hourlyTemp style="width: 200px; height: 85px;"></canvas>
        </div>

    </div>

    <div class="row" >
      <div class="col">
        <canvas #myChart></canvas>
      </div>
      <div class="col">

        <div class="card">
          <div class="card-body">
          <h5 class="card-title"> Current power usage:</h5>
            <canvas #currentPowerUsageGraph></canvas>
            <p class="card-text"  style="text-align: center; margin-top: -50px;">  {{currentUsage}} kW </p>
          </div>
       </div>


      <div class="card">
          <div class="card-body">
          <h5 class="card-title"> Bill of the month:</h5>
          <p class="card-text" style="text-align: center;"> {{averageUsage}} kW </p>

          </div>
      </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm">
        <app-my-devices></app-my-devices>
      </div>

        <div class="col-sm" style="margin-bottom: 50px;">

            <div class="card">
                <div class="card-body">
                <h5 class="card-title"> The largest producer of electricity:</h5>
                <p class="card-text"  style="text-align: center;">  {{currentUsage}} kW </p>

                </div>
            </div>


            <div class="card">
                <div class="card-body">
                <h5 class="card-title"> The biggest consumer of electricity:</h5>
                <p class="card-text" style="text-align: center;"> {{averageUsage}} kW </p>

                </div>
            </div>


       </div>

    </div>

    </div>


</div>


