<app-nav class="desktop"></app-nav>
<app-mob-nav class="mobile"></app-mob-nav>

<div class="outer">
  <div class="container">
    <div class="row" >
      <div id="prvi">
        <label>Total Number Of Devices</label>
        <div>
          <img id="deviceNumberImg" src="/assets/icons-devices-home/device-number.png">
        </div>
        </div>
        <div id="drugi">
          <label>The Largest Producer Of Electricity</label>
          <div>
            <img src="/assets/icons-devices-home/energy-production.png">
          </div>
        </div>
        <div id="treci">
          <label>The Biggest Consumer Of Electricity</label>
          <div>
            <img src="/assets/icons-devices-home/energy-consumption.png">
          </div>
        </div>
    </div>
    <div class="row" id="red">
      <div class="col" id="col1">
        <app-my-devices></app-my-devices>
      </div>

        <div class="col" id="col2">

            <div class="card">
                <div class="card-body">
                <h5 class="card-title"> Summary of current usage:</h5>
                <p class="card-text"  style="text-align: center;">  {{currentUsage}} kw </p>

                </div>
            </div>


            <div class="card">
                <div class="card-body">
                <h5 class="card-title"> Average usage for the previous month:</h5>
                <p class="card-text" style="text-align: center;"> {{averageUsage}} kw </p>

                </div>
            </div>

            <div>
              <canvas id="myChart"></canvas>
            </div>

       </div>

    </div>

    </div>


</div>


