@font-face {
  font-family: regular;
  src: url(../../../assets/fonts/Inter-Regular.ttf);
}
@media(max-width: 480px) {
  .mobile{
      display: contents;
  }
  .desktop{
      display: none;
  }
  .container
  {
    margin-top: 20px;
  }

  img
  {
    width: 15%;
    padding: 8px;
  }

  label
  {
    font-size: 14px;
    font-weight: bold;
    width: 70%;
    margin-left: 20%;
  }

  #kolone
  {
    margin-right: 20px;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  #prvi
  {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color: orange;
  }

  #drugi
  {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color: #026670;
  }

  #treci
  {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color: red;
  }

}

@media(min-width: 481px){
  .mobile{
      display: none;
  }
  .desktop{
      display: contents;
  }
  .container
  {
    margin-top: 90px;
  }

  #kolone
  {
    float:right;
    margin-right: 150px;
    width: 35%;
    margin-top: 40px;
  }

  label
  {
    font-size: 18px;
    font-weight: bold;
    width: 60%;
    margin-left: 28%;
  }
  #prvi
  {
    margin-top: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color: orange;
  }
  #drugi
  {
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color: #026670;
  }

  #treci
  {
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    color:red;
  }

  img
  {
    width: 15%;
    padding-top: 10px;
    padding-left: 15px;
  }



}




