
  <app-nav class="desktop"></app-nav>
  <app-mob-nav class="mobile"></app-mob-nav>

  <div class="outer">
 <!--   <div class="container">
      <div class="row" style="background-color: #EDEAE5;">
        <div class="col-sm">
          <input id="buttonWeather" type="button" value="Weather Details" (click)="showWeatherDetails()">
        </div>

      </div>
     <div class="row" *ngIf="showDetails">
        <div class="col-sm" *ngIf="weather">
              <p class="text-left" >
                  <img src="../../../assets/weather-icons/compass.png"> Your Time Zone :<span style="color:#026670; font-weight:bold; padding-left:5px;"> {{ weather.timezone }} </span>
              </p>
              <p class="text-left">
                <img src="../../../assets/weather-icons/temperature(2).png"> Temperature: <span style="color:#026670; font-weight:bold; padding-left:5px;">{{ weather.current_weather.temperature }} </span>
              </p>
              <p class="text-left">
                  <img src="../../../assets/weather-icons/hot.png"> Maximal Temperature: <span  style="color:#026670; font-weight:bold; padding-left:5px;">{{ weather.daily.temperature_2m_max[0]}} </span>
                </p>
          </div>
          <div class="col-sm" *ngIf="weather">
              <p class="text-left">
                  <img src="../../../assets/weather-icons/cold.png" >Minimal Temperature:<span style="color:#026670; font-weight:bold; padding-left:5px;"> {{ weather.daily.temperature_2m_min[0]}} </span>
                </p>
                <p class="text-left">
                  <img src="../../../assets/weather-icons/storm.png">Wind Speed: <span style="color:#026670; font-weight:bold; padding-left:5px;"> {{ weather.current_weather.windspeed}} </span>
                </p>
                <p class="text-left">
                  <img src="../../../assets/weather-icons/humidity.png">Humidity:<span style="color:#026670; font-weight:bold; padding-left:5px;"> {{ weather.hourly.relativehumidity_2m[0]}} </span>
                </p>
          </div>-->
    <div class="container">
      <div class="row">
        <div class="col-sm mt-2" *ngIf="weather">
          <div class="vreme">
            <div class="icon-wrapper">
              <img *ngIf="isSunny" src="../../../assets/weather-icons/brightness.png">
              <img *ngIf="isCloudy" src="../../../assets/weather-icons/cloudy.png">
              <img *ngIf="isRainy" src="../../../assets/weather-icons/weather.png">
              <img *ngIf="isSnowy" src="../../../assets/weather-icons/snowflake.png">
            </div>
            <div class="text-wrapper">
              <p class="time">{{ currentDate | async | date:'HH:mm:ss' }}</p>
              <p class="date">{{ currentDate | async | date }}</p>
            </div>
            <div class="temperature-wrapper">
              <p class="temperature">{{ weather.current_weather.temperature }}&deg;C</p>
              <p *ngIf="isSunny" class="description">Sunny</p>
              <p *ngIf="isCloudy" class="description">Cloudy</p>
              <p *ngIf="isRainy" class="description">Rainy</p>
              <p *ngIf="isSnowy" class="description">Snowy</p>
            </div>
          </div>

        </div>
        <div class="col-sm mt-2 mb-2">
          <div class="vreme">
              <div class="icon-wrapper">
                <img src="../../../assets/weather-icons/flash-symbol.png">
              </div>
              <div class="text-wrapper">
                <p style="font-weight: 400;"> Energy Expenses</p>
                <p style="font-size: 17px;"> This Month</p>
              </div>
              <div class="temperature-wrapper">
                <p> $2067 </p>
              </div>
          </div>
        </div>
      </div>


      <div class="row" >
        <div class="col-sm">

          <h3 style="color:#5F5E5C">Overview</h3>
          <div class="vreme">
            <div class="icon-wrapper">
              <h4> Consumption</h4>
              <p style="font-weight: 500;" class="potrosnja pt-2"> {{currentConsumes}} kWh</p>
            </div>
            <div class="text-wrapper">
              <h4> Production</h4>
              <p style="font-weight: 500;" class="potrosnja pt-2"> {{currentProduces}} kWh</p>
            </div>
            <div class="temperature-wrapper">
              <h4> Energy Saved</h4>
              <p style="font-weight: 500;" class="potrosnja pt-2"> +{{savedEnergyMonthConsumption}}% </p>
            </div>

           </div>
       </div>
      </div>
      <div class="row" >
        <div class="col-sm">
          <app-my-devices></app-my-devices>
        </div>
        <div class="col-sm">
          <div class="card" id="grafik">
              <canvas #previous24ConsumptionGraph></canvas>
          </div>

        </div>

      </div>






  </div>
</div>


