
<div class="page" style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%;">
<div class="outer">
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div>
                <img src="/assets/icons/logo-white.png" width="200px">
                <div class="forma panel border bg-white">
                    <h3 class="pt-3 m">
                        Sign in
                    </h3>
                    <div class="panel-body">
                        <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group pt-4">
                                    <!-- <span class="fa fa-user p-2"></span> -->
                                    <input class = "form-control user-icon icon"  [ngClass] = "{'is-invalid' : submitted && fields['email'].errors}" formControlName = "email" type="text" placeholder="Username/Email">
                                    <div class="invalid-feedback">
                                        <span class= "text-danger" *ngIf="submitted && fields['email'].errors?.['required']">*Username is required!</span>
                                        <span class = "text-danger" *ngIf="fields['email'].errors?.['email']">*Please provide a valid email address</span>
                                    </div>
                                </div>
                            
                            <div class="form-group pt-4">
                                    <!-- <span class="fa fa-lock p-2"></span> -->
                                    <input class = "form-control openeye-icon icon" [ngClass] = "{'is-invalid' : submitted && fields['password'].errors}" formControlName = "password" [type]="type" placeholder="Password">
                                    <!-- <span (click) = "hideShowPass()" class="fa {{eyeIcon}}"></span> -->
                                    <div class="invalid-feedback">
                                        <span class= "text-danger" *ngIf="submitted && fields['password'].errors?.['required']">*Password is required!</span>
                                        <span class = "text-danger" *ngIf="fields['password'].errors?.['minLength']">*Please provide a valid password!</span>
                                    </div>
                                </div>
                            
                            <div class="form-inline fr mt-2 text-center">
                                <a id = "forget" class="forgotten font-weight-bold font-italic" onclick="">Forgot Password?</a>
                            </div>

                            <button type="submit" class="btn btn-primary btn-lock mt-2 w-100">Login</button>
                            
                            <div class="account text-center pt-4 pb-2">
                                Don't have an account? <a id="forget"routerLink="/singup">Sign up here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>