
/*
background: linear-gradient(179.99deg, #026670 -47%, #9FEDD7 99.99%);
color: #026670;
*/
@font-face {
    font-family: font1;
    src: url(/assets/fonts/Chivo-Regular.ttf);
 }
.forma{
    border-radius: 17px;
    filter: drop-shadow(0px 13px 26px rgba(0,0,0,0.25));
    padding: 20px 60px;
}

h3{
    font-size: 32px;
    color: #026670;
    font-family: font1;
    font-weight: 900;
}

input{
    border:2px solid #026670;
    border-radius: 5px;
    font-style: italic;
    font-size: 12px;
    height: 50px;
}

input::placeholder{
    color:rgba(2, 102, 112, 0.5);
}

a{
    color:#026670;
    
}

.forgotten{
    font-size: 13px;
    font-style: italic;
}

div{
    text-align: left;
}

button{
    background-color: #026670;
    text-transform: uppercase;
    text-align: center;
    border-radius: 8px;
    filter:drop-shadow(0px 8px 4px rgba(0,0,0,0.25));
    letter-spacing: 3px;
    height: 40px;
}

button:hover {
    background-color: #227982;;
}
button:active {
    background-color: #026670;
}

.account{
    color:#026670;
    font-size: 15px;
}
