<div class="px-3 py-2" id = "nav-style">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center-justify-content-lg-start">
            <a class ="d-flex.align-items-center.my-2.my-lg-0.me-lg-auto.text-white.text-decoration-none">
                <button class="logo"><img src="../../../assets/icons/white no-background.png"/></button>
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small" >
                <li *ngFor = "let data of navData">
                    
                    <a id = "icon" class="nav-link text-secondary" [routerLink] = [data.routeLink]>

                        <i [class]="data.icon"> </i>
                       <small> {{data.label}} </small>
                       
                       
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>