
<div class="outer">
    <div class="container-fluid">
        <div class="row centriranje">
            <div class="centriranje" style="padding:60px;">
            <img class="slika" src="/assets/icons/logo-blue.png" alt="logo" >
            </div>
        </div>
        <div class="row centriranje">
                <div class="forma panel border" style="width: 30%;">
                    <h3 class="pt-3 m text-center">
                        Welcome back!
                    </h3>
                    <div class="panel-body">
                        <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
                            <div class="input-group form-group pt-4">   
                                <input class = "form-control"  [ngClass] = "{'is-invalid' : submitted && fields['email'].errors}" formControlName = "email" type="text" placeholder="Email">
                                <span class="input-group-addon addon-icon"><i class="fa fa-user"></i></span>
                                    <div class="invalid-feedback">
                                        <span class= "text-danger" *ngIf="submitted && fields['email'].errors?.['required']">*Username is required!</span>
                                        <span class = "text-danger" *ngIf="fields['email'].errors?.['email']">*Please provide a valid email address</span>
                                    </div>
                                </div>
                                
                            
                            <div class="input-group form-group pt-4 mb-1">
                                <input class = "form-control" [ngClass] = "{'is-invalid' : submitted && fields['password'].errors}" formControlName = "password" [type]="type" placeholder="Password">
                                <span  class="input-group-addon addon-icon"><i (click) = "hideShowPass()" class="fa {{eyeIcon}}"></i></span>
                                <div class="invalid-feedback">
                                    <span class= "text-danger" *ngIf="submitted && fields['password'].errors?.['required']">*Password is required!</span>
                                    <span class = "text-danger" *ngIf="fields['password'].errors?.['minLength']">*Please provide a valid password!</span>
                                </div>
                            </div>
                           
                            <button type="submit" class="btn btn-primary btn-lock mt-4 mb-4 w-50 text-center">Login</button>
                            
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>