<app-nav class="desktop"></app-nav>
<app-mob-nav class="mobile"></app-mob-nav>

<div class="outer centriranje">
    <div class="container">
        <h3>Settings</h3>
        <div>
          <label class="toggle">
            <span class="toggle-label">Allow DSO to access my information:</span>
            <input class="toggle-checkbox" type="checkbox" [(ngModel)]="allowAccess" (click)="toggleAccess()">
            <div class="toggle-switch"></div>
          </label>
        </div>
        <div>
          <label class="toggle">
            <span class="toggle-label">Allow DSO to control consumption time:</span>
            <input class="toggle-checkbox" type="checkbox" [disabled]="!allowAccess" [(ngModel)]="allowControl" (click)="toggleControl()">
            <div class="toggle-switch"></div>
          </label>
        </div>
        <button>Change Password</button>
        <button (click)="signOut()">Log Out</button>
        <p-confirmDialog></p-confirmDialog>
    </div>
</div>